.DS_Store
.direnv/
/.envrc
/flake.nix
/flake.lock
node_modules/
sdk-node/node_modules/
sdk-node/dist/
sdk-node/*.tsbuildinfo
sdk-python/.venv/
sdk-python/dist/
sdk-python/.coverage
sdk-python/.pytest_cache/
sdk-python/.ruff_cache/
sdk-python/**/*.pyc
sdk-python/**/__pycache__/
