openapi: 3.1.0
info:
  title: Primitive API
  version: 1.0.0
  description: |
    The Primitive API lets you manage domains, emails, webhook endpoints,
    filters, and account settings programmatically.

    ## Authentication

    Most endpoints require a Bearer token in the `Authorization` header:

    ```
    Authorization: Bearer prim_<your_api_key>
    ```

    API keys are org-scoped. Create and manage them in your dashboard
    under Settings > API Keys. CLI login plus CLI/agent signup endpoints
    explicitly declare `security: []`; they do not require an API key because
    they are used to create OAuth CLI sessions.

    ## Rate Limiting

    The API enforces a sliding window rate limit of **120 requests per
    60 seconds** per organization. When exceeded, the API returns `429`
    with a `Retry-After` header indicating how many seconds to wait.

    ## Pagination

    List endpoints use cursor-based pagination. Responses include a
    `meta` object with `total`, `limit`, and `cursor` fields. Pass the
    `cursor` value as a query parameter to fetch the next page. When
    `cursor` is `null`, there are no more results.

    ## Response Format

    All responses use a consistent envelope:

    ```json
    {
      "success": true,
      "data": { ... },
      "meta": { "total": 42, "limit": 50, "cursor": "..." }
    }
    ```

    Errors follow the same pattern:

    ```json
    {
      "success": false,
      "error": { "code": "not_found", "message": "Email not found" }
    }
    ```

    ## Webhook signing

    Outbound webhook deliveries (configured via the `endpoints` API)
    are signed so receivers can verify they came from Primitive and
    have not been tampered with in transit. The signing scheme is
    deliberately simple so it can be reimplemented in any language
    in a few lines. The Node SDK's `verifyWebhookSignature` helper
    is the reference implementation; the wire details below let you
    write a verifier in Python, Go, Ruby, etc. without reading our
    source.

    **Header**: `Primitive-Signature: t=<unix-seconds>,v1=<hex>`

    A legacy `MyMX-Signature` header is also sent on every delivery
    with the same value, retained for back-compatibility with
    integrations written before the rename. New code should read
    `Primitive-Signature`.

    **Signed string**: `${timestamp}.${rawBody}` where `timestamp`
    is the Unix-seconds integer from the `t=` parameter and
    `rawBody` is the exact bytes of the HTTP request body BEFORE
    any JSON decoding. Verify against the raw body, not a
    re-serialized parse, or you will silently mismatch on
    insignificant whitespace.

    **Signature**: HMAC-SHA256 of the signed string, hex-encoded
    (lowercase). Use the account's webhook secret as the HMAC key,
    as a UTF-8 byte sequence.

    **Secret**: returned by `GET /account/webhook-secret`. The
    string looks base64-shaped (e.g. `XNHBBW8VqoBjRfNs1tkZj11jTk...`)
    but is NOT base64; use it AS-IS as a UTF-8 string for the HMAC
    key. Base64-decoding before HMAC will silently produce
    mismatched signatures.

    **Tolerance**: by convention, reject deliveries whose `t=`
    timestamp is more than 5 minutes off your wall-clock to defend
    against replay attacks. The Node SDK's helper enforces this by
    default.

    **Verification recipe** (any language):

    ```
    1. Read the raw HTTP body (do not parse).
    2. Read `Primitive-Signature: t=<ts>,v1=<sig>`.
    3. Reject if abs(now - ts) > 300 seconds.
    4. expected = HMAC_SHA256_hex(secret_utf8, f"{ts}.{rawBody}")
    5. Constant-time compare expected to sig. Reject if not equal.
    ```

    For Node, use `verifyWebhookSignature` from
    `@primitivedotdev/sdk/webhook` (or the higher-level
    `handleWebhook` helper if you want a one-liner). For other
    languages, the recipe above is everything you need.

    Test deliveries: `POST /endpoints/{id}/test` triggers a fake
    delivery to your endpoint URL, signed with your real account
    secret, so you can confirm verification end-to-end without
    needing real inbound mail. The test response carries the exact
    `signature` header value sent on the wire so you can compare
    strings directly.
  contact:
    name: Primitive
    url: https://primitive.dev
  license:
    name: Proprietary
    url: https://primitive.dev/terms

servers:
  - url: https://api.primitive.dev/v1
    description: |
      Canonical API host (PRIMITIVE_API_BASE_URL). Carries every public
      API operation. Cloudflare Workers-backed; attachment-capable send
      operations can carry up to ~30 MiB raw request bodies before base64
      encoding.
  - url: https://www.primitive.dev/api/v1
    description: |
      Legacy dashboard compatibility host. Requests are forwarded to the
      canonical API host, but Vercel request body limits still apply before
      proxying. New integrations should use https://api.primitive.dev/v1.

security:
  - BearerAuth: []

tags:
  - name: CLI
    description: Browser-assisted CLI authentication
  - name: Agent
    description: Agent signup and authentication
  - name: Account
    description: Manage your account settings, storage, and webhook secret
  - name: Domains
    description: Claim, verify, and manage email domains
  - name: Inbox
    description: Check inbound email setup and processing readiness
  - name: Emails
    description: List, inspect, and manage received emails
  - name: Search
    description: Semantic and hybrid search across received and sent mail
  - name: Sending
    description: Send outbound emails through the Primitive API
  - name: Threads
    description: Conversation threads spanning received and sent emails
  - name: Endpoints
    description: Manage webhook endpoints that receive email events
  - name: Filters
    description: Manage whitelist and blocklist filter rules
  - name: Webhook Deliveries
    description: View and replay webhook delivery attempts
  - name: Functions
    description: |
      Deploy JavaScript handlers that run on inbound mail. Each function
      is a single ESM module whose default export is an object with an
      async `fetch(request, env)` method, in the shape of a Workers-style
      handler. Primitive signs each delivery and forwards the
      `Primitive-Signature` header to the handler; verify the raw request
      body with `PRIMITIVE_WEBHOOK_SECRET` before trusting the parsed
      `email.received` event (see `EmailReceivedEvent` and the Webhook
      payload section for the full schema). Code runs on
      Primitive's edge runtime; there is no infrastructure to manage.
      Secrets land in `env` as encrypted bindings and are refreshed on
      every redeploy.

paths:
  # ---------------------------------------------------------------------------
  # CLI
  # ---------------------------------------------------------------------------
  /cli/login/start:
    post:
      operationId: startCliLogin
      summary: Start CLI browser login
      description: |
        Starts a browser-assisted CLI login session. The response includes a
        device code for polling and a user code that the user approves in the
        browser. This endpoint does not require an API key.
      tags: [CLI]
      security: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StartCliLoginInput'
      responses:
        '201':
          description: CLI login session created
          headers:
            Cache-Control:
              schema:
                type: string
              description: Always `no-store`
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/CliLoginStartResult'
        '400':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/RateLimited'

  /cli/login/poll:
    post:
      operationId: pollCliLogin
      summary: Poll CLI browser login
      description: |
        Polls a CLI login session until the browser approval either succeeds,
        is denied, expires, or is polled too quickly. The OAuth token set is
        created only after approval and is returned exactly once.
      tags: [CLI]
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PollCliLoginInput'
      responses:
        '200':
          description: CLI login approved and OAuth token set created
          headers:
            Cache-Control:
              schema:
                type: string
              description: Always `no-store`
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/CliLoginPollResult'
        '400':
          description: Invalid request, pending authorization, slow polling, expired token, or invalid device code
          headers:
            Retry-After:
              schema:
                type: integer
              description: Seconds to wait before polling again when the error code is `slow_down`
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                authorization_pending:
                  summary: Awaiting browser approval
                  value:
                    success: false
                    error:
                      code: authorization_pending
                      message: CLI login is still pending browser approval
                expired_token:
                  summary: Login session expired
                  value:
                    success: false
                    error:
                      code: expired_token
                      message: CLI login code expired; run primitive login again
                invalid_device_code:
                  summary: Unknown device code
                  value:
                    success: false
                    error:
                      code: invalid_device_code
                      message: Invalid CLI login device code
                slow_down:
                  summary: Polling too quickly
                  value:
                    success: false
                    error:
                      code: slow_down
                      message: Polling too quickly; slow down and retry later
        '403':
          description: CLI login was denied in the browser
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                success: false
                error:
                  code: access_denied
                  message: CLI login was denied in the browser

  /cli/signup/start:
    post:
      operationId: startCliSignup
      summary: Start CLI account signup
      description: |
        Starts a terminal-native CLI signup. `signup_code` is optional;
        omit it to sign up without one. The API creates a pending signup
        session, sends an email verification code, and returns an opaque
        signup token used by the resend and verify steps. This endpoint
        does not require an API key.
      tags: [CLI]
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StartCliSignupInput'
      responses:
        '201':
          description: CLI signup session created and verification email sent
          headers:
            Cache-Control:
              schema:
                type: string
              description: Always `no-store`
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/CliSignupStartResult'
        '400':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/RateLimited'

  /cli/signup/resend:
    post:
      operationId: resendCliSignupVerification
      summary: Resend CLI signup verification code
      description: |
        Sends a new email verification code for a pending CLI signup session.
        This endpoint does not require an API key.
      tags: [CLI]
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResendCliSignupVerificationInput'
      responses:
        '200':
          description: Verification email resent
          headers:
            Cache-Control:
              schema:
                type: string
              description: Always `no-store`
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/CliSignupResendResult'
        '400':
          description: Invalid token or expired token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Global rate limit exceeded or resend requested too quickly
          headers:
            Retry-After:
              schema:
                type: integer
              description: Seconds to wait before retrying
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /cli/signup/verify:
    post:
      operationId: verifyCliSignup
      summary: Verify CLI signup and create OAuth session
      description: |
        Verifies the email code for a CLI signup session and creates the
        account. When the session was started with a `signup_code`, the
        reserved code is redeemed; sessions started without a code skip
        the redemption step. Either way an org-scoped OAuth CLI session
        is created and the token set is returned exactly once. This
        endpoint does not require an API key.
      tags: [CLI]
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VerifyCliSignupInput'
      responses:
        '200':
          description: CLI signup verified and OAuth token set created
          headers:
            Cache-Control:
              schema:
                type: string
              description: Always `no-store`
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/CliSignupVerifyResult'
        '400':
          description: Invalid request, invalid verification code, expired token, invalid signup code, rejected password, or account creation failure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          $ref: '#/components/responses/RateLimited'

  /agent/signup/start:
    post:
      operationId: startAgentSignup
      summary: Start agent account signup
      description: |
        Starts an agent-native signup session. `signup_code` is optional;
        omit it to sign up without one. The API creates a pending signup
        session, sends an email verification code, and returns an opaque
        signup token used by the resend and verify steps. This endpoint
        does not require an API key.
      tags: [Agent]
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StartAgentSignupInput'
      responses:
        '201':
          description: Agent signup session created and verification email sent
          headers:
            Cache-Control:
              schema:
                type: string
              description: Always `no-store`
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/AgentSignupStartResult'
        '400':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/RateLimited'

  /agent/signup/resend:
    post:
      operationId: resendAgentSignupVerification
      summary: Resend agent signup verification code
      description: |
        Sends a new email verification code for a pending agent signup session.
        This endpoint does not require an API key.
      tags: [Agent]
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResendAgentSignupVerificationInput'
      responses:
        '200':
          description: Verification email resent
          headers:
            Cache-Control:
              schema:
                type: string
              description: Always `no-store`
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/AgentSignupResendResult'
        '400':
          description: Invalid token or expired token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Global rate limit exceeded or resend requested too quickly
          headers:
            Retry-After:
              schema:
                type: integer
              description: Seconds to wait before retrying
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /agent/signup/verify:
    post:
      operationId: verifyAgentSignup
      summary: Verify agent signup and create OAuth tokens
      description: |
        Verifies the email code for an agent signup session and creates
        the account when needed. When the session was started with a
        `signup_code`, the reserved code is redeemed; sessions started
        without a code skip the redemption step. An org-scoped OAuth
        session for CLI authentication is minted and the raw tokens are
        returned exactly once. For existing users, the optional `org_id`
        selects which accessible workspace should receive the new
        session (no signup-code redemption is performed for existing
        users regardless of how the session was started).
      tags: [Agent]
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VerifyAgentSignupInput'
      responses:
        '200':
          description: Agent signup verified and OAuth tokens created
          headers:
            Cache-Control:
              schema:
                type: string
              description: Always `no-store`
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/AgentSignupVerifyResult'
        '400':
          description: Invalid request, invalid verification code, expired token, invalid signup code, or account creation failure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          description: Existing account is not in a usable workspace state
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          $ref: '#/components/responses/RateLimited'

  /agent/accounts:
    post:
      operationId: createAgentAccount
      summary: Create an emailless agent account
      description: |
        Creates an emailless agent account without authentication and returns a
        one-time API key (prefixed `prim_`) plus a provisioned managed inbox.
        The account is on the `agent` plan: reply-only (it can send only to
        addresses that have already sent it authenticated mail) with tight send
        limits. Use the returned `api_key` as a Bearer token on later calls. The
        account can be upgraded to a full developer account by confirming an
        email through the claim flow. This endpoint does not require an API key.
      tags: [Agent]
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAgentAccountInput'
      responses:
        '200':
          description: Agent account created; the API key is returned once
          headers:
            Cache-Control:
              schema:
                type: string
              description: Always `no-store`
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/AgentAccountResult'
        '400':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/RateLimited'

  /agent/claim/start:
    post:
      operationId: startAgentClaim
      summary: Start an agent account email claim
      description: |
        Begins upgrading an emailless `agent` account into a full `developer`
        account by confirming an email address. Authenticated by the agent's own
        API key (the org is taken from the credential). Sends a verification
        code to the supplied email and returns the claim session id plus resend
        timing. Submit the code to `/agent/claim/verify` to complete the
        upgrade. Confirming an email that already belongs to a Primitive account
        is rejected.
      tags: [Agent]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StartAgentClaimInput'
      responses:
        '200':
          description: Claim started and verification email sent
          headers:
            Cache-Control:
              schema:
                type: string
              description: Always `no-store`
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/AgentClaimStartResult'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          description: The email is already in use, or the account is not claimable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          $ref: '#/components/responses/RateLimited'

  /agent/claim/verify:
    post:
      operationId: verifyAgentClaim
      summary: Verify an agent account email claim
      description: |
        Confirms the verification code emailed by `/agent/claim/start` and
        upgrades the account to the `developer` plan. The org id, API key, and
        managed inbox all carry over; the send cap lifts. Authenticated by the
        agent's own API key.
      tags: [Agent]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VerifyAgentClaimInput'
      responses:
        '200':
          description: Claim verified; account upgraded to developer
          headers:
            Cache-Control:
              schema:
                type: string
              description: Always `no-store`
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/AgentClaimResult'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          description: The account is already claimed, or the email is in use
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '410':
          description: The claim or its verification code has expired
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          $ref: '#/components/responses/RateLimited'

  /agent/claim/link:
    post:
      operationId: createAgentClaimLink
      summary: Create a browser claim link
      description: |
        Mints an opaque, single-use link an agent can hand to a human to
        complete the email-confirmation upgrade in a browser. Authenticated by
        the agent's own API key. `claim_url` is null when the API host cannot
        resolve a web origin to build the link.
      tags: [Agent]
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAgentClaimLinkInput'
      responses:
        '200':
          description: Claim link created
          headers:
            Cache-Control:
              schema:
                type: string
              description: Always `no-store`
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/AgentClaimLinkResult'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          description: The account is not claimable (not an agent account, or already claimed)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          $ref: '#/components/responses/RateLimited'

  /cli/logout:
    post:
      operationId: cliLogout
      summary: Revoke the current CLI OAuth session
      description: |
        Revokes the OAuth grant used to authenticate the request. API-key
        authenticated legacy logout requests succeed without deleting server API
        keys so old local CLI state can be cleared safely.
      tags: [CLI]
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CliLogoutInput'
      responses:
        '200':
          description: CLI logout completed
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/CliLogoutResult'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  # ---------------------------------------------------------------------------
  # Account
  # ---------------------------------------------------------------------------
  /account:
    get:
      operationId: getAccount
      summary: Get account info
      tags: [Account]
      responses:
        '200':
          description: Account details
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/Account'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

    patch:
      operationId: updateAccount
      summary: Update account settings
      tags: [Account]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAccountInput'
      responses:
        '200':
          description: Updated account
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/AccountUpdated'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /account/storage:
    get:
      operationId: getStorageStats
      summary: Get storage usage
      tags: [Account]
      responses:
        '200':
          description: Storage statistics
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/StorageStats'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /account/webhook-secret:
    get:
      operationId: getWebhookSecret
      summary: Get webhook signing secret
      description: |
        Returns the webhook signing secret for your account. If no
        secret exists yet, one is generated automatically on first
        access.

        Signing is account-scoped, not per-endpoint. Every webhook
        delivery from any of your registered endpoints is signed
        with this single secret. Rotate via
        `POST /account/webhook-secret/rotate`.

        **Secret format**: the returned string looks base64-shaped
        (e.g. `XNHBBW8VqoBjRfNs1tkZj11jTk...`) but is NOT base64.
        Use it AS-IS as a UTF-8 string when computing HMAC over a
        delivery body. Base64-decoding before HMAC will silently
        produce mismatched signatures.

        See the API-level "Webhook signing" section for the full
        wire format (header name, signed string shape, hash algo,
        tolerance) including a language-agnostic verification
        recipe.
      tags: [Account]
      responses:
        '200':
          description: Webhook secret
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/WebhookSecret'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /account/webhook-secret/rotate:
    post:
      operationId: rotateWebhookSecret
      summary: Rotate webhook signing secret
      description: |
        Generates a new webhook signing secret, replacing the current one.
        Rate limited to once per 60 minutes.
      tags: [Account]
      responses:
        '200':
          description: New webhook secret
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/WebhookSecret'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'

  # ---------------------------------------------------------------------------
  # Domains
  # ---------------------------------------------------------------------------
  /domains:
    get:
      operationId: listDomains
      summary: List all domains
      description: |
        Returns all verified and unverified domains for your organization,
        sorted by creation date (newest first). Each domain includes a
        `verified` boolean to distinguish between the two states.
      tags: [Domains]
      responses:
        '200':
          description: List of domains
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/Domain'
        '401':
          $ref: '#/components/responses/Unauthorized'

    post:
      operationId: addDomain
      summary: Claim a new domain
      description: |
        Creates an unverified domain claim and returns the exact
        DNS records to publish in `dns_records`. Publish those
        records before calling the verify endpoint. To give users
        an importable DNS file, call `downloadDomainZoneFile` or run
        `primitive domains zone-file --id <domain-id>`.
      tags: [Domains]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddDomainInput'
      responses:
        '201':
          description: Domain claim created
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/UnverifiedDomain'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '409':
          description: |
            Domain claim conflicts with existing state. Two error codes
            are possible:
              * `mx_conflict`: the domain's current MX records point at
                another mailbox provider. The response includes
                `error.details.mx_conflict` with the detected provider
                and a suggested subdomain.
              * `conflict`: the domain is already claimed by another
                org, or a pending claim exists for another user.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                mx_conflict:
                  summary: Domain has MX records on another provider
                  value:
                    success: false
                    error:
                      code: mx_conflict
                      message: Domain is currently receiving mail via another provider
                      details:
                        mx_conflict:
                          provider_name: Google Workspace
                          suggested_subdomain: mail
                already_claimed:
                  summary: Domain already claimed by another org
                  value:
                    success: false
                    error:
                      code: conflict
                      message: Domain is already claimed by another organization

  /domains/{id}:
    parameters:
      - $ref: '#/components/parameters/ResourceId'

    patch:
      operationId: updateDomain
      summary: Update domain settings
      description: |
        Update a verified domain's settings. Only verified domains can be
        updated. Per-domain spam thresholds require a Pro plan.
      tags: [Domains]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateDomainInput'
      responses:
        '200':
          description: Updated domain
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/VerifiedDomain'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

    delete:
      operationId: deleteDomain
      summary: Delete a domain
      description: Deletes a verified or unverified domain claim.
      tags: [Domains]
      responses:
        '200':
          $ref: '#/components/responses/Deleted'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /domains/{id}/verify:
    parameters:
      - $ref: '#/components/parameters/ResourceId'

    post:
      operationId: verifyDomain
      summary: Verify domain ownership
      description: |
        Checks DNS records required for inbound routing, ownership,
        and outbound authentication: MX, ownership TXT, SPF, DKIM,
        DMARC, and TLS-RPT.
        On success, the domain is promoted from unverified to verified.
        On failure, returns which checks passed and which failed,
        plus the exact DNS records still expected. To give users
        an importable DNS file for missing records, call
        `downloadDomainZoneFile` or run
        `primitive domains zone-file --id <domain-id>`.
      tags: [Domains]
      responses:
        '200':
          description: Verification result
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/DomainVerifyResult'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /domains/{id}/zone-file:
    parameters:
      - $ref: '#/components/parameters/ResourceId'

    get:
      operationId: downloadDomainZoneFile
      summary: Download domain DNS zone file
      description: |
        Downloads a BIND-format DNS zone file containing the DNS records
        required for a domain claim. Agents should offer this after
        `addDomain` when users want to import DNS records instead of
        copying each record manually.
      tags: [Domains]
      parameters:
        - name: outbound_only
          in: query
          schema:
            type: boolean
          description: |
            When true, include only outbound DNS records. Verified domains
            default to outbound-only; pending claims default to all required
            records.
      responses:
        '200':
          description: BIND-format zone file
          content:
            text/plain:
              schema:
                type: string
                format: binary
          headers:
            Content-Disposition:
              schema:
                type: string
                example: 'attachment; filename="example.com.zone"'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'

  # ---------------------------------------------------------------------------
  # Inbox
  # ---------------------------------------------------------------------------
  /inbox/status:
    get:
      operationId: getInboxStatus
      summary: Get inbound inbox readiness
      description: |
        Returns one consolidated view of inbound domain readiness,
        webhook/function processing routes, deployed Functions, and
        recent inbound email activity.

        Agents should call this before guiding a user through inbound
        setup. It answers the practical questions "can I receive mail",
        "will anything process that mail", and "what should I do next"
        without forcing clients to stitch together domains, endpoints,
        functions, and emails manually.
      tags: [Inbox]
      responses:
        '200':
          description: Consolidated inbox readiness status
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/InboxStatus'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'

  # ---------------------------------------------------------------------------
  # Emails
  # ---------------------------------------------------------------------------
  /emails:
    get:
      operationId: listEmails
      summary: List inbound emails
      description: |
        Returns a paginated list of INBOUND emails received at your
        verified domains. Outbound messages sent via /send-mail are
        not included; this endpoint is the inbox view, not a
        unified send/receive history.

        Supports filtering by domain, status, date range, and
        free-text search across subject, sender, and recipient
        fields.

        For a compact text-table summary of the most recent N
        inbounds (no filters, no cursor pagination), the CLI ships
        `primitive emails:latest` as a one-line-per-email shortcut.
        It's TTY-aware so id columns are full UUIDs when piped, and
        a `--json` flag returns the same envelope this endpoint
        does. Use whichever fits the call site.
      tags: [Emails]
      parameters:
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Limit'
        - name: domain_id
          in: query
          schema:
            type: string
            format: uuid
          description: Filter by domain ID
        - name: status
          in: query
          schema:
            $ref: '#/components/schemas/EmailStatus'
          description: |
            Filter inbound rows by lifecycle status. See `EmailStatus`
            for what each value means. Note that the webhook delivery
            state is a SEPARATE lifecycle on the same row; filter by
            `webhook_status` semantics is not currently supported on
            this endpoint.
        - name: search
          in: query
          schema:
            type: string
            maxLength: 500
          description: Search subject, sender, and recipient (case-insensitive)
        - name: date_from
          in: query
          schema:
            type: string
            format: date-time
          description: Filter emails created on or after this timestamp
        - name: date_to
          in: query
          schema:
            type: string
            format: date-time
          description: Filter emails created on or before this timestamp
      responses:
        '200':
          description: Paginated list of emails
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ListEnvelope'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/EmailSummary'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /emails/search:
    get:
      operationId: searchEmails
      summary: Search inbound emails
      description: |
        Searches inbound emails with structured filters and optional
        full-text matching across parsed email fields. This endpoint is
        optimized for filtered inbox views and CLI polling workflows:
        callers that only need new accepted mail can pass
        `sort=received_at_asc`, `snippet=false`, `include_facets=false`,
        and a `date_from` timestamp.

        `q`, `subject`, and `body` use the same English full-text index
        as the web inbox search. Structured filters such as `from`, `to`,
        `domain_id`, status, attachment presence, and spam score bounds
        are combined with the text query.
      tags: [Emails]
      parameters:
        - name: q
          in: query
          schema:
            type: string
            maxLength: 500
          description: Full-text search DSL query.
        - name: from
          in: query
          schema:
            type: string
            maxLength: 255
          description: Filter by sender address or sender domain.
        - name: to
          in: query
          schema:
            type: string
            maxLength: 255
          description: Filter by recipient address or recipient domain.
        - name: subject
          in: query
          schema:
            type: string
            maxLength: 500
          description: Full-text search restricted to the subject field.
        - name: body
          in: query
          schema:
            type: string
            maxLength: 2000
          description: Full-text search restricted to the parsed text body.
        - name: domain_id
          in: query
          schema:
            type: string
            format: uuid
          description: Filter by domain ID.
        - name: reply_to_sent_email_id
          in: query
          schema:
            type: string
            format: uuid
          description: |
            Filter to inbound emails that are replies to a specific
            outbound send. The value is a `sent_emails.id` (UUID). At
            inbound ingest, Primitive matches the parsed In-Reply-To
            header (or References as a fallback) against
            `sent_emails.message_id` in the same org and records the
            resolved id on `emails.reply_to_sent_email_id`. This filter
            is the strict-threading lookup behind `primitive chat` and
            any UI that wants to show the inbound reply to a given
            send. NULL on inbound that isn't a threaded reply to one
            of your sends, so existing emails received before this
            ingestion landed will not match.
        - name: status
          in: query
          schema:
            $ref: '#/components/schemas/EmailStatus'
          description: Filter by inbound email lifecycle status.
        - name: date_from
          in: query
          schema:
            type: string
            format: date-time
          description: Filter emails received on or after this timestamp.
        - name: date_to
          in: query
          schema:
            type: string
            format: date-time
          description: Filter emails received on or before this timestamp.
        - name: has_attachment
          in: query
          schema:
            type: string
            enum: ['true', 'false']
          description: Filter by whether the email has one or more attachments.
        - name: spam_score_lt
          in: query
          schema:
            type: number
          description: Filter to emails with spam score below this value.
        - name: spam_score_gte
          in: query
          schema:
            type: number
          description: Filter to emails with spam score greater than or equal to this value.
        - name: sort
          in: query
          schema:
            type: string
            enum: [relevance, received_at_desc, received_at_asc]
          description: |
            Sort mode. Defaults to relevance when a text query is present,
            otherwise `received_at_desc`.
        - name: cursor
          in: query
          schema:
            type: string
            maxLength: 200
          description: Opaque pagination cursor from a previous search response.
        - $ref: '#/components/parameters/Limit'
        - name: snippet
          in: query
          schema:
            type: string
            enum: ['true', 'false']
            default: 'true'
          description: Include subject/body highlight snippets when text search is active.
        - name: include_facets
          in: query
          schema:
            type: string
            enum: ['true', 'false']
            default: 'true'
          description: Include facet counts for sender, domain, status, and attachment presence.
      responses:
        '200':
          description: Search results
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/EmailSearchResult'
                      meta:
                        $ref: '#/components/schemas/EmailSearchMeta'
                      facets:
                        $ref: '#/components/schemas/EmailSearchFacets'
                    required: [data, meta]
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '504':
          description: Search query timed out
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /emails/{id}:
    parameters:
      - $ref: '#/components/parameters/ResourceId'

    get:
      operationId: getEmail
      summary: Get inbound email by id
      description: |
        Returns the full record for an inbound email received at one
        of your verified domains, including the parsed text and HTML
        bodies, threading metadata, SMTP envelope detail, webhook
        delivery state, and a `replies` array for any outbound sends
        recorded as replies to this inbound.

        For listing inbound emails (with cursor pagination, status
        and date filters, and free-text search), use
        `/emails`. Outbound (sent) email records are NOT returned
        here; use `/sent-emails/{id}` for those.

        The response carries four sender-shaped fields whose
        meanings overlap. `from_email` is the canonical "who sent
        this" field for most use cases (parsed bare address from
        the `From:` header, with a `sender` fallback). `from_header`
        is the raw header including any display name. `sender` and
        `smtp_mail_from` both carry the SMTP envelope MAIL FROM
        (return-path) and are equal by construction; `sender` is
        the older field name retained for compatibility. See
        `primitive describe emails:get-email | jq '.responseSchema.properties'`
        for per-field detail.
      tags: [Emails]
      responses:
        '200':
          description: Email details
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/EmailDetail'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

    delete:
      operationId: deleteEmail
      summary: Delete an email
      tags: [Emails]
      responses:
        '200':
          $ref: '#/components/responses/Deleted'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /emails/{id}/raw:
    parameters:
      - $ref: '#/components/parameters/ResourceId'

    get:
      operationId: downloadRawEmail
      summary: Download raw email
      description: |
        Downloads the raw RFC 822 email file (.eml). Authenticates via
        a signed download token (provided in webhook payloads) or a
        valid session.
      tags: [Emails]
      security:
        - BearerAuth: []
        - DownloadToken: []
      parameters:
        - name: token
          in: query
          schema:
            type: string
          description: Signed download token from webhook payload
      responses:
        '200':
          description: Raw email file
          content:
            message/rfc822:
              schema:
                type: string
                format: binary
          headers:
            Content-Disposition:
              schema:
                type: string
                example: 'attachment; filename="email-id.eml"'
            X-Content-SHA256:
              schema:
                type: string
              description: SHA-256 hex digest of the file
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /emails/{id}/attachments.tar.gz:
    parameters:
      - $ref: '#/components/parameters/ResourceId'

    get:
      operationId: downloadAttachments
      summary: Download email attachments
      description: |
        Downloads all attachments as a gzip-compressed tar archive.
        Authenticates via a signed download token (provided in webhook
        payloads) or a valid session.
      tags: [Emails]
      security:
        - BearerAuth: []
        - DownloadToken: []
      parameters:
        - name: token
          in: query
          schema:
            type: string
          description: Signed download token from webhook payload
      responses:
        '200':
          description: Attachments archive
          content:
            application/gzip:
              schema:
                type: string
                format: binary
          headers:
            Content-Disposition:
              schema:
                type: string
                example: 'attachment; filename="email-id_attachments.tar.gz"'
            X-Content-SHA256:
              schema:
                type: string
              description: SHA-256 hex digest of the archive
            X-Attachment-Count:
              schema:
                type: string
              description: Number of attachments in the archive
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /emails/{id}/reply:
    parameters:
      - $ref: '#/components/parameters/ResourceId'

    post:
      operationId: replyToEmail
      summary: Reply to an inbound email
      description: |
        Sends an outbound reply to the inbound email identified by `id`.
        Threading headers (`In-Reply-To`, `References`), recipient
        derivation (Reply-To, then From, then bare sender), and the
        `Re:` subject prefix are all derived server-side from the
        stored inbound row. The request body carries only the message
        body, optional From override, optional attachments, and optional
        `wait` flag; passing any header or recipient override is
        rejected by the schema (`additionalProperties: false`).

        Forwards through the same gates as `/send-mail`: the response
        status, error envelope, and `idempotent_replay` flag mirror
        the send-mail contract verbatim.
      servers:
        - url: https://api.primitive.dev/v1
          description: Canonical API host (recommended)
        - url: https://www.primitive.dev/api/v1
          description: Legacy compatibility host (Vercel body limit applies)
      tags: [Sending]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReplyInput'
      responses:
        '200':
          description: Outbound relay result
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/SendMailResult'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          description: |
            Inbound is not repliable: the row exists but lacks a
            `message_id` (no thread anchor) or a `recipient` (cannot
            derive the From address).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                success: false
                error:
                  code: inbound_not_repliable
                  message: inbound has no Message-ID; cannot anchor a reply thread
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
        '502':
          $ref: '#/components/responses/BadGateway'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'

  /emails/{id}/replay:
    parameters:
      - $ref: '#/components/parameters/ResourceId'

    post:
      operationId: replayEmailWebhooks
      summary: Replay email webhooks
      description: |
        Re-delivers the webhook payload for this email to all active
        endpoints matching the email's domain. Rate limited per-email
        (short cooldown between successive replays of the same email)
        and per-org (burst + sustained windows), sharing an org-wide
        budget with delivery replays.
      tags: [Emails]
      responses:
        '200':
          description: Replay result
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/ReplayResult'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'

  /emails/{id}/discard-content:
    parameters:
      - $ref: '#/components/parameters/ResourceId'

    post:
      operationId: discardEmailContent
      summary: Discard email content
      description: |
        Permanently deletes the email's raw bytes, parsed body (text + HTML),
        and attachments while preserving metadata (sender, recipient,
        subject, timestamps, hashes, attachment manifest) for audit logs.
        Idempotent: a second call returns success with
        `already_discarded: true` and does no work.

        **Gated** on the customer's discard-content opt-in (managed in the
        dashboard at Settings > Webhooks). When the toggle is off, this
        endpoint returns `403` with code `discard_not_enabled` and a
        message pointing the human at the dashboard. There is intentionally
        no API to flip this toggle. Opting in to a destructive,
        non-reversible operation must be a deliberate human click in the
        UI.
      tags: [Emails]
      responses:
        '200':
          description: Discard result
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/DiscardContentResult'
                    required: [data]
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'

  /emails/{id}/conversation:
    parameters:
      - $ref: '#/components/parameters/ResourceId'
    get:
      operationId: getConversation
      summary: Get the conversation an email belongs to
      description: |
        Returns the full conversation the given inbound email belongs
        to, as ordered, ready-to-prompt turns WITH bodies. It resolves
        the thread from the email and returns every message oldest-first,
        so an agent that received an email can pass `messages` straight
        to a chat model in one call instead of walking `/threads/{id}`
        plus `/emails/{id}` and `/sent-emails/{id}` per message.

        Each message carries a `direction` (`inbound` | `outbound`) and a
        derived `role`: `inbound` -> `user`, `outbound` -> `assistant`
        (your own prior replies). The role mapping assumes the caller
        owns the outbound side, which is the agent-reply case this exists
        for. If the email has no thread yet (a brand-new message), the
        conversation is just that one message as a single user turn.

        The message list is capped; check `truncated` to detect when
        older messages were omitted. Consecutive same-role turns are not
        merged here; that normalization is model-specific and left to the
        caller.
      tags: [Emails]
      responses:
        '200':
          description: Conversation
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/Conversation'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  # ---------------------------------------------------------------------------
  # Endpoints
  # ---------------------------------------------------------------------------
  /endpoints:
    get:
      operationId: listEndpoints
      summary: List webhook endpoints
      description: Returns all active (non-deleted) webhook endpoints.
      tags: [Endpoints]
      responses:
        '200':
          description: List of endpoints
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/Endpoint'
        '401':
          $ref: '#/components/responses/Unauthorized'

    post:
      operationId: createEndpoint
      summary: Create a webhook endpoint
      description: |
        Creates a new webhook endpoint. If a deactivated endpoint
        with the same URL and domain exists, it is reactivated
        instead. Subject to plan limits on the number of active
        endpoints.

        **Signing is account-scoped, not per-endpoint.** This call
        does not return any signing material; every endpoint on the
        account uses the same webhook secret, fetched via
        `GET /account/webhook-secret`. See the API-level "Webhook
        signing" section for the full wire format (header name,
        signed string, hash algo, secret format, tolerance) and a
        language-agnostic verification recipe.

        After creating the endpoint, fire a test delivery against
        it via `POST /endpoints/{id}/test` to confirm your verifier
        accepts the signature.
      tags: [Endpoints]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateEndpointInput'
      responses:
        '201':
          description: Endpoint created (or reactivated)
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/Endpoint'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /endpoints/{id}:
    parameters:
      - $ref: '#/components/parameters/ResourceId'

    patch:
      operationId: updateEndpoint
      summary: Update a webhook endpoint
      description: |
        Updates an active webhook endpoint. If the URL is changed, the old
        endpoint is deactivated and a new one is created (or an existing
        deactivated endpoint with the new URL is reactivated).
      tags: [Endpoints]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateEndpointInput'
      responses:
        '200':
          description: Updated endpoint
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/Endpoint'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

    delete:
      operationId: deleteEndpoint
      summary: Delete a webhook endpoint
      description: |
        Soft-deletes a webhook endpoint. The endpoint will no longer
        receive webhook deliveries.
      tags: [Endpoints]
      responses:
        '200':
          $ref: '#/components/responses/Deleted'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /endpoints/{id}/test:
    parameters:
      - $ref: '#/components/parameters/ResourceId'

    post:
      operationId: testEndpoint
      summary: Send a test webhook
      description: |
        Sends a sample `email.received` event to the endpoint. The request
        includes SSRF protection (private IP rejection and DNS pinning).
        Rate limited to 4 per minute and 30 per hour (non-exempt).
        Successful deliveries and verified-domain endpoints are exempt
        from the rate limit.
      tags: [Endpoints]
      responses:
        '200':
          description: Test result
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/TestResult'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'

  # ---------------------------------------------------------------------------
  # Filters
  # ---------------------------------------------------------------------------
  /filters:
    get:
      operationId: listFilters
      summary: List filter rules
      description: Returns all whitelist and blocklist filter rules.
      tags: [Filters]
      responses:
        '200':
          description: List of filters
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/Filter'
        '401':
          $ref: '#/components/responses/Unauthorized'

    post:
      operationId: createFilter
      summary: Create a filter rule
      description: |
        Creates a new whitelist or blocklist filter. Per-domain filters
        require a Pro plan. Patterns are stored as lowercase.
      tags: [Filters]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateFilterInput'
      responses:
        '201':
          description: Filter created
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/Filter'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /filters/{id}:
    parameters:
      - $ref: '#/components/parameters/ResourceId'

    patch:
      operationId: updateFilter
      summary: Update a filter rule
      description: Toggle a filter's enabled state.
      tags: [Filters]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateFilterInput'
      responses:
        '200':
          description: Updated filter
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/Filter'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

    delete:
      operationId: deleteFilter
      summary: Delete a filter rule
      tags: [Filters]
      responses:
        '200':
          $ref: '#/components/responses/Deleted'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  # ---------------------------------------------------------------------------
  # Webhook Deliveries
  # ---------------------------------------------------------------------------
  /webhooks/deliveries:
    get:
      operationId: listDeliveries
      summary: List webhook deliveries
      description: |
        Returns a paginated list of webhook delivery attempts. Each delivery
        includes a nested `email` object with sender, recipient, and subject.
      tags: [Webhook Deliveries]
      parameters:
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Limit'
        - name: email_id
          in: query
          schema:
            type: string
            format: uuid
          description: Filter by email ID
        - name: status
          in: query
          schema:
            type: string
            enum: [pending, delivered, header_confirmed, failed]
          description: Filter by delivery status
        - name: date_from
          in: query
          schema:
            type: string
            format: date-time
          description: Filter deliveries created on or after this timestamp
        - name: date_to
          in: query
          schema:
            type: string
            format: date-time
          description: Filter deliveries created on or before this timestamp
      responses:
        '200':
          description: Paginated list of deliveries
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ListEnvelope'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/DeliverySummary'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /webhooks/deliveries/{id}/replay:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          pattern: '^\d+$'
        description: Delivery ID (numeric)

    post:
      operationId: replayDelivery
      summary: Replay a webhook delivery
      description: |
        Re-sends the stored webhook payload from a previous delivery attempt.
        If the original endpoint is still active, it is targeted. If the
        original endpoint was deleted, the oldest active endpoint is used.
        Deactivated endpoints cannot be replayed to. Rate limited per-org,
        sharing an org-wide budget with email replays.
      tags: [Webhook Deliveries]
      responses:
        '200':
          description: Replay result
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/ReplayResult'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'

  # ---------------------------------------------------------------------------
  # Sending
  # ---------------------------------------------------------------------------
  /send-permissions:
    get:
      operationId: getSendPermissions
      summary: List send-permission rules
      description: |
        Returns a flat list of rules describing every recipient the
        caller may send to. Each rule has a `type`, a kind-specific
        payload, and a human-readable `description`. If any rule
        matches the recipient, /send-mail will accept the send under
        the recipient-scope check.

        The endpoint is the answer to "where can I send" without
        exposing internal entitlement names. Agents that don't
        recognize a `type` can still read the `description` prose
        and act on it.

        Rule kinds, ordered broadest-first so an agent can stop
        scanning at the first match:

          1. `any_recipient` (one entry, only when the org can send
             anywhere): every other rule below it is redundant.
          2. `managed_zone` (always emitted, one per Primitive-managed
             zone): sends to any address at *.primitive.email or
             *.email.works always succeed; no entitlement required.
          3. `your_domain` (one per active verified outbound domain
             owned by the org): sends to that domain are approved.
          4. `address` (one per address that has authenticated
             inbound mail to the org, capped at `meta.address_cap`):
             sends to that exact address are approved.

        The list is informational, not an authorization check.
        /send-mail remains the source of truth on whether an
        individual send will succeed (it also enforces the
        from-address and the `send_mail` entitlement, which are
        not recipient-scope concerns and are not represented here).
      tags: [Sending]
      responses:
        '200':
          description: Send-permission rules for the caller's org
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/SendPermissionRule'
                      meta:
                        $ref: '#/components/schemas/SendPermissionsMeta'
                    required: [data, meta]
        '401':
          $ref: '#/components/responses/Unauthorized'

  /send-mail:
    post:
      operationId: sendEmail
      summary: Send outbound email
      description: |
        Sends an outbound email through Primitive's outbound relay. By default
        the request returns once the relay accepts the message for delivery.
        Set `wait: true` to wait for the first downstream SMTP delivery outcome.

        **Host routing.** /send-mail is served by the canonical API host
        (`https://api.primitive.dev/v1`) so the request body can carry
        inline attachments up to ~30 MiB raw. The legacy dashboard
        compatibility host (`https://www.primitive.dev/api/v1`) also accepts
        /send-mail, but Vercel request body limits apply before proxying.
        The typed SDKs route /send-mail to the canonical API host
        automatically.
      servers:
        - url: https://api.primitive.dev/v1
          description: Canonical API host (recommended)
        - url: https://www.primitive.dev/api/v1
          description: Legacy compatibility host (Vercel body limit applies)
      tags: [Sending]
      parameters:
        - name: Idempotency-Key
          in: header
          required: false
          schema:
            type: string
            minLength: 1
            maxLength: 255
            pattern: '^[\x21-\x7E]+$'
          description: |
            Optional customer-supplied idempotency key. If omitted, Primitive
            derives one from the canonical request payload and echoes the
            effective value in the `Idempotency-Key` response header.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SendMailInput'
      responses:
        '200':
          description: Outbound relay result
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/SendMailResult'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
        '502':
          $ref: '#/components/responses/BadGateway'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'

  /semantic-search:
    post:
      operationId: semanticSearch
      summary: Semantic search across received and sent mail
      description: |
        Ranked search across both received and sent mail. The `mode`
        field selects the ranking strategy:

        - `keyword`: lexical full-text matching only (no embeddings).
        - `semantic`: meaning-based matching using vector embeddings.
        - `hybrid` (default): blends the semantic and keyword signals.

        Results are ordered by a relevance `score`. Every row reports the
        fields it matched (`matched_fields`), a match-centered excerpt per
        field (`snippets`), and a `score_breakdown` whose components account
        for the `score`. Page through results by passing the prior
        response's `meta.cursor` back as `cursor`.

        Requires the Pro plan and the `semantic_search_enabled`
        entitlement; callers without them receive `403`.

        Host routing: this operation is served only by the search host
        (`https://api.primitive.dev/v1`). The typed SDKs route it there
        automatically.
      servers:
        - url: https://api.primitive.dev/v1
          description: Search host
      tags: [Search]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SemanticSearchInput'
      responses:
        '200':
          description: Ranked search results
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/SemanticSearchResult'
                      meta:
                        $ref: '#/components/schemas/SemanticSearchMeta'
                    required: [data, meta]
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'

  /sent-emails:
    get:
      operationId: listSentEmails
      summary: List outbound sent emails
      description: |
        Returns a paginated list of OUTBOUND emails the caller's
        org has sent via /send-mail (and /emails/{id}/reply, which
        forwards through /send-mail). Includes every recorded
        attempt, including gate-denied attempts that the agent
        never called and rows still in `queued` state.

        For inbound mail received at your verified domains, see
        /emails. There is no unified send/receive history endpoint;
        the two surfaces are intentionally separate because the
        underlying tables, statuses, and lifecycle differ.

        Email bodies (`body_text`, `body_html`) are NOT included on
        list rows so a 50-row page can't balloon into a multi-MB
        response when sends are near the 5MB body cap. Use
        /sent-emails/{id} to fetch a single row with bodies, or
        cross-reference by `client_idempotency_key` if the caller
        already has the body locally.
      tags: [Sending]
      parameters:
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Limit'
        - name: status
          in: query
          schema:
            $ref: '#/components/schemas/SentEmailStatus'
          description: |
            Filter to rows in this status. Useful for polling
            queued rows that haven't transitioned, auditing
            gate-denied attempts, or listing only successful
            deliveries.
        - name: request_id
          in: query
          schema:
            type: string
            format: uuid
          description: |
            Filter to the row matching a specific server-issued
            `request_id`. The /send-mail response surfaces
            `request_id` on every send; this lookup lets the
            caller find the historical row for a given live call
            without remembering its `id`.
        - name: idempotency_key
          in: query
          schema:
            type: string
            minLength: 1
            maxLength: 255
          description: |
            Filter to rows with the given `client_idempotency_key`.
            Multiple rows can share a key (a retry that hit the
            idempotent-replay path returns the same row, but a
            retry with a DIFFERENT canonical payload under the
            same key is rejected by /send-mail before the row is
            written, so duplicates are bounded).
        - name: date_from
          in: query
          schema:
            type: string
            format: date-time
          description: Inclusive lower bound on `created_at`.
        - name: date_to
          in: query
          schema:
            type: string
            format: date-time
          description: Inclusive upper bound on `created_at`.
      responses:
        '200':
          description: Page of sent-email summaries
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ListEnvelope'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/SentEmailSummary'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /sent-emails/{id}:
    get:
      operationId: getSentEmail
      summary: Get a sent email by id
      description: |
        Returns the full sent-email record by id, including
        `body_text` and `body_html` (omitted from the listing
        endpoint to keep paginated responses small). Use this when
        diagnosing a specific send, e.g. inspecting the receiver's
        SMTP response on a `bounced` row or pulling the gate
        denial detail on a `gate_denied` row.
      tags: [Sending]
      parameters:
        - $ref: '#/components/parameters/ResourceId'
      responses:
        '200':
          description: Sent-email detail
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/SentEmailDetail'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  # ---------------------------------------------------------------------------
  # Threads
  # ---------------------------------------------------------------------------
  /threads/{id}:
    parameters:
      - $ref: '#/components/parameters/ResourceId'
    get:
      operationId: getThread
      summary: Get a conversation thread by id
      description: |
        Returns a conversation thread: its metadata plus the inbound
        and outbound messages that belong to it, interleaved in time
        order (oldest first). A thread spans both received emails and
        your sends, so an agent can reconstruct an entire back-and-forth
        from one call instead of walking reply headers.

        Each message carries a `direction` (`inbound` | `outbound`) and
        an `id`; fetch the full message via `/emails/{id}` or
        `/sent-emails/{id}` accordingly. Bodies are omitted here to keep
        the thread view lightweight.

        Discover a thread id from the `thread_id` field on any email or
        sent-email (list or detail). The message list is capped; compare
        `message_count` against `messages.length` to detect truncation.
      tags: [Threads]
      responses:
        '200':
          description: Thread detail
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/Thread'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  # ---------------------------------------------------------------------------
  # Functions
  # ---------------------------------------------------------------------------
  /functions:
    get:
      operationId: listFunctions
      summary: List functions
      description: |
        Returns every active (non-deleted) function in the org, newest
        first. Each entry carries deploy status and timestamps. To
        inspect the source code or deploy errors, use `GET /functions/{id}`.
      tags: [Functions]
      responses:
        '200':
          description: List of functions
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/FunctionListItem'
        '401':
          $ref: '#/components/responses/Unauthorized'

    post:
      operationId: createFunction
      summary: Deploy a function
      description: |
        Creates and deploys a new function. The handler must be a single
        ESM module whose default export is an object with an async
        `fetch(request, env)` method (Workers-style). Primitive signs
        each delivery and forwards the `Primitive-Signature` header to
        the handler. Verify the raw request body with
        `PRIMITIVE_WEBHOOK_SECRET` before parsing JSON; after verification
        the request body parses to an `email.received` event (see
        `EmailReceivedEvent` and the Webhook payload section for the full
        schema). Code is bundled before being uploaded; ship a single
        self-contained file rather than relying on external imports.

        **Code limits.** `code` is capped at 1 MiB UTF-8. `sourceMap`
        (optional) is capped at 5 MiB UTF-8, stored with each deployment
        attempt, and sent to the runtime so stack traces can resolve to
        original source files.

        **Routing.** On successful deploy, the function code is live
        in the runtime, but inbound mail will not reach it until at
        least one route is bound. Routes are managed from the Primitive
        dashboard. A `deploy_status` of `deployed` means the script is
        installed, not that the function is receiving mail. The
        internal runtime URL is not returned by the API and is not a
        customer-facing integration surface.

        **Secrets.** New functions ship with the managed secrets
        (`PRIMITIVE_WEBHOOK_SECRET`, `PRIMITIVE_API_KEY`,
        `PRIMITIVE_API_BASE_URL`) already bound. Add user-set secrets via
        `POST /functions/{id}/secrets`; secret writes only land in the
        running handler on the next redeploy.
      tags: [Functions]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateFunctionInput'
      responses:
        '201':
          description: Function created and deployed
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/CreateFunctionResult'
        '400':
          description: Invalid request parameters or customer-correctable deploy rejection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '409':
          description: A function with this name already exists in the org
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '424':
          $ref: '#/components/responses/DeployFailed'
        '429':
          $ref: '#/components/responses/DeployFailed'
        '503':
          $ref: '#/components/responses/DeployFailed'

  /functions/{id}:
    parameters:
      - $ref: '#/components/parameters/ResourceId'

    get:
      operationId: getFunction
      summary: Get a function
      description: |
        Returns the full record for a function, including its current
        source code and the deploy status / error from the most recent
        deploy attempt.
      tags: [Functions]
      responses:
        '200':
          description: Function record
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/FunctionDetail'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

    put:
      operationId: updateFunction
      summary: Update and redeploy a function
      description: |
        Replaces the function's source code with the body's `code` and
        triggers a redeploy. Same size limits as `POST /functions`.
        Use this verb to push secret writes into the running handler:
        passing the same `code` re-runs the deploy and refreshes the
        binding set with the latest values from the secrets table.

        On deploy failure, the previously-deployed code stays live; the
        runtime never serves a half-built bundle. The response uses
        `error.code` `deploy_failed`, and the function's `deploy_error`
        field carries the latest deploy error for dashboard/API reads.
      tags: [Functions]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateFunctionInput'
      responses:
        '200':
          description: Updated function
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/FunctionDetail'
        '400':
          description: Invalid request parameters or customer-correctable deploy rejection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '424':
          $ref: '#/components/responses/DeployFailed'
        '429':
          $ref: '#/components/responses/DeployFailed'
        '503':
          $ref: '#/components/responses/DeployFailed'

    delete:
      operationId: deleteFunction
      summary: Delete a function
      description: |
        Soft-deletes the function row, removes the script from the edge
        runtime, and deactivates any route bound to this function so no
        further inbound mail is delivered. Past deploy history,
        invocations, and logs are retained.

        Returns 502 if the runtime delete fails partway; the function
        row stays in place and the call is safe to retry until it
        succeeds.
      tags: [Functions]
      responses:
        '200':
          $ref: '#/components/responses/Deleted'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '502':
          $ref: '#/components/responses/BadGateway'

  /functions/{id}/test:
    parameters:
      - $ref: '#/components/parameters/ResourceId'

    post:
      operationId: testFunction
      summary: Send a test invocation
      description: |
        Sends a real test email from a Primitive-controlled sender to a
        local-part on one of the org's verified inbound domains. By
        default the recipient is a synthetic
        `__primitive_function_test+<random>@<domain>` address on a
        domain selected to route to the function. Scoped functions use
        their scoped domain; fallback functions use a domain that has
[...]
