openapi: 3.1.0
info:
  title: Primitive API
  version: 1.0.0
  description: |
    The Primitive API lets you manage domains, emails, webhook endpoints,
    filters, and account settings programmatically.

    ## Authentication

    All endpoints require a Bearer token in the `Authorization` header:

    ```
    Authorization: Bearer prim_<your_api_key>
    ```

    API keys are org-scoped. Create and manage them in your dashboard
    under Settings > API Keys.

    ## Rate Limiting

    The API enforces a sliding window rate limit of **120 requests per
    60 seconds** per organization. When exceeded, the API returns `429`
    with a `Retry-After` header indicating how many seconds to wait.

    ## Pagination

    List endpoints use cursor-based pagination. Responses include a
    `meta` object with `total`, `limit`, and `cursor` fields. Pass the
    `cursor` value as a query parameter to fetch the next page. When
    `cursor` is `null`, there are no more results.

    ## Response Format

    All responses use a consistent envelope:

    ```json
    {
      "success": true,
      "data": { ... },
      "meta": { "total": 42, "limit": 50, "cursor": "..." }
    }
    ```

    Errors follow the same pattern:

    ```json
    {
      "success": false,
      "error": { "code": "not_found", "message": "Email not found" }
    }
    ```

    ## Webhook signing

    Outbound webhook deliveries (configured via the `endpoints` API)
    are signed so receivers can verify they came from Primitive and
    have not been tampered with in transit. The signing scheme is
    deliberately simple so it can be reimplemented in any language
    in a few lines. The Node SDK's `verifyWebhookSignature` helper
    is the reference implementation; the wire details below let you
    write a verifier in Python, Go, Ruby, etc. without reading our
    source.

    **Header**: `Primitive-Signature: t=<unix-seconds>,v1=<hex>`

    A legacy `MyMX-Signature` header is also sent on every delivery
    with the same value, retained for back-compatibility with
    integrations written before the rename. New code should read
    `Primitive-Signature`.

    **Signed string**: `${timestamp}.${rawBody}` where `timestamp`
    is the Unix-seconds integer from the `t=` parameter and
    `rawBody` is the exact bytes of the HTTP request body BEFORE
    any JSON decoding. Verify against the raw body, not a
    re-serialized parse, or you will silently mismatch on
    insignificant whitespace.

    **Signature**: HMAC-SHA256 of the signed string, hex-encoded
    (lowercase). Use the account's webhook secret as the HMAC key,
    as a UTF-8 byte sequence.

    **Secret**: returned by `GET /account/webhook-secret`. The
    string looks base64-shaped (e.g. `XNHBBW8VqoBjRfNs1tkZj11jTk...`)
    but is NOT base64; use it AS-IS as a UTF-8 string for the HMAC
    key. Base64-decoding before HMAC will silently produce
    mismatched signatures.

    **Tolerance**: by convention, reject deliveries whose `t=`
    timestamp is more than 5 minutes off your wall-clock to defend
    against replay attacks. The Node SDK's helper enforces this by
    default.

    **Verification recipe** (any language):

    ```
    1. Read the raw HTTP body (do not parse).
    2. Read `Primitive-Signature: t=<ts>,v1=<sig>`.
    3. Reject if abs(now - ts) > 300 seconds.
    4. expected = HMAC_SHA256_hex(secret_utf8, f"{ts}.{rawBody}")
    5. Constant-time compare expected to sig. Reject if not equal.
    ```

    For Node, use `verifyWebhookSignature` from
    `@primitivedotdev/sdk/webhook` (or the higher-level
    `handleWebhook` helper if you want a one-liner). For other
    languages, the recipe above is everything you need.

    Test deliveries: `POST /endpoints/{id}/test` triggers a fake
    delivery to your endpoint URL, signed with your real account
    secret, so you can confirm verification end-to-end without
    needing real inbound mail. The test response carries the exact
    `signature` header value sent on the wire so you can compare
    strings directly.
  contact:
    name: Primitive
    url: https://primitive.dev
  license:
    name: Proprietary
    url: https://primitive.dev/terms

servers:
  - url: https://www.primitive.dev/api/v1
    description: |
      Primary API host (PRIMITIVE_API_BASE_URL_1). Carries every operation
      except attachment-supporting send. Vercel-backed; request body is
      capped at 4.5 MB by the platform.
  - url: https://api.primitive.dev/v1
    description: |
      Attachments-supporting send host (PRIMITIVE_API_BASE_URL_2).
      Cloudflare Worker with a ~30 MiB raw request body cap (before
      base64 encoding). Today only `/send-mail` is hosted here; future
      large-body operations will migrate here over time. SDK clients
      route /send-mail to this server automatically.

security:
  - BearerAuth: []

tags:
  - name: CLI
    description: Browser-assisted CLI authentication
  - name: Account
    description: Manage your account settings, storage, and webhook secret
  - name: Domains
    description: Claim, verify, and manage email domains
  - name: Emails
    description: List, inspect, and manage received emails
  - name: Sending
    description: Send outbound emails through the Primitive API
  - name: Endpoints
    description: Manage webhook endpoints that receive email events
  - name: Filters
    description: Manage whitelist and blocklist filter rules
  - name: Webhook Deliveries
    description: View and replay webhook delivery attempts
  - name: Functions
    description: |
      Deploy JavaScript handlers that run on inbound mail. Each function
      is a single ESM module whose default export is an object with an
      async `fetch(request, env)` method, in the shape of a Workers-style
      handler. The gateway HMAC-verifies the inbound POST against the
      org's webhook secret before invoking `fetch`; the request body
      parses to an `email.received` event (see `EmailReceivedEvent` and
      the Webhook payload section for the full schema). Code runs on
      Primitive's edge runtime; there is no infrastructure to manage.
      Secrets land in `env` as encrypted bindings and are refreshed on
      every redeploy.

paths:
  # ---------------------------------------------------------------------------
  # CLI
  # ---------------------------------------------------------------------------
  /cli/login/start:
    post:
      operationId: startCliLogin
      summary: Start CLI browser login
      description: |
        Starts a browser-assisted CLI login session. The response includes a
        device code for polling and a user code that the user approves in the
        browser. This endpoint does not require an API key.
      tags: [CLI]
      security: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StartCliLoginInput'
      responses:
        '201':
          description: CLI login session created
          headers:
            Cache-Control:
              schema:
                type: string
              description: Always `no-store`
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/CliLoginStartResult'
        '400':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/RateLimited'

  /cli/login/poll:
    post:
      operationId: pollCliLogin
      summary: Poll CLI browser login
      description: |
        Polls a CLI login session until the browser approval either succeeds,
        is denied, expires, or is polled too quickly. The API key is generated
        only after approval and is returned exactly once.
      tags: [CLI]
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PollCliLoginInput'
      responses:
        '200':
          description: CLI login approved and API key created
          headers:
            Cache-Control:
              schema:
                type: string
              description: Always `no-store`
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/CliLoginPollResult'
        '400':
          description: Invalid request, pending authorization, slow polling, expired token, or invalid device code
          headers:
            Retry-After:
              schema:
                type: integer
              description: Seconds to wait before polling again when the error code is `slow_down`
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                authorization_pending:
                  summary: Awaiting browser approval
                  value:
                    success: false
                    error:
                      code: authorization_pending
                      message: CLI login is still pending browser approval
                expired_token:
                  summary: Login session expired
                  value:
                    success: false
                    error:
                      code: expired_token
                      message: CLI login code expired; run primitive login again
                invalid_device_code:
                  summary: Unknown device code
                  value:
                    success: false
                    error:
                      code: invalid_device_code
                      message: Invalid CLI login device code
                slow_down:
                  summary: Polling too quickly
                  value:
                    success: false
                    error:
                      code: slow_down
                      message: Polling too quickly; slow down and retry later
        '403':
          description: CLI login was denied in the browser
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                success: false
                error:
                  code: access_denied
                  message: CLI login was denied in the browser
  /cli/logout:
    post:
      operationId: cliLogout
      summary: Revoke the current CLI API key
      description: |
        Revokes the API key used to authenticate the request. CLI clients use
        this endpoint during `primitive logout` before removing local credentials.
      tags: [CLI]
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CliLogoutInput'
      responses:
        '200':
          description: CLI API key revoked
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/CliLogoutResult'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  # ---------------------------------------------------------------------------
  # Account
  # ---------------------------------------------------------------------------
  /account:
    get:
      operationId: getAccount
      summary: Get account info
      tags: [Account]
      responses:
        '200':
          description: Account details
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/Account'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

    patch:
      operationId: updateAccount
      summary: Update account settings
      tags: [Account]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAccountInput'
      responses:
        '200':
          description: Updated account
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/AccountUpdated'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /account/storage:
    get:
      operationId: getStorageStats
      summary: Get storage usage
      tags: [Account]
      responses:
        '200':
          description: Storage statistics
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/StorageStats'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /account/webhook-secret:
    get:
      operationId: getWebhookSecret
      summary: Get webhook signing secret
      description: |
        Returns the webhook signing secret for your account. If no
        secret exists yet, one is generated automatically on first
        access.

        Signing is account-scoped, not per-endpoint. Every webhook
        delivery from any of your registered endpoints is signed
        with this single secret. Rotate via
        `POST /account/webhook-secret/rotate`.

        **Secret format**: the returned string looks base64-shaped
        (e.g. `XNHBBW8VqoBjRfNs1tkZj11jTk...`) but is NOT base64.
        Use it AS-IS as a UTF-8 string when computing HMAC over a
        delivery body. Base64-decoding before HMAC will silently
        produce mismatched signatures.

        See the API-level "Webhook signing" section for the full
        wire format (header name, signed string shape, hash algo,
        tolerance) including a language-agnostic verification
        recipe.
      tags: [Account]
      responses:
        '200':
          description: Webhook secret
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/WebhookSecret'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /account/webhook-secret/rotate:
    post:
      operationId: rotateWebhookSecret
      summary: Rotate webhook signing secret
      description: |
        Generates a new webhook signing secret, replacing the current one.
        Rate limited to once per 60 minutes.
      tags: [Account]
      responses:
        '200':
          description: New webhook secret
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/WebhookSecret'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'

  # ---------------------------------------------------------------------------
  # Domains
  # ---------------------------------------------------------------------------
  /domains:
    get:
      operationId: listDomains
      summary: List all domains
      description: |
        Returns all verified and unverified domains for your organization,
        sorted by creation date (newest first). Each domain includes a
        `verified` boolean to distinguish between the two states.
      tags: [Domains]
      responses:
        '200':
          description: List of domains
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/Domain'
        '401':
          $ref: '#/components/responses/Unauthorized'

    post:
      operationId: addDomain
      summary: Claim a new domain
      description: |
        Creates an unverified domain claim. You will receive a
        `verification_token` to add as a DNS TXT record before
        calling the verify endpoint.
      tags: [Domains]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddDomainInput'
      responses:
        '201':
          description: Domain claim created
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/UnverifiedDomain'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '409':
          description: |
            Domain claim conflicts with existing state. Two error codes
            are possible:
              * `mx_conflict`: the domain's current MX records point at
                another mailbox provider. The response includes
                `error.details.mx_conflict` with the detected provider
                and a suggested subdomain.
              * `conflict`: the domain is already claimed by another
                org, or a pending claim exists for another user.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                mx_conflict:
                  summary: Domain has MX records on another provider
                  value:
                    success: false
                    error:
                      code: mx_conflict
                      message: Domain is currently receiving mail via another provider
                      details:
                        mx_conflict:
                          provider_name: Google Workspace
                          suggested_subdomain: mail
                already_claimed:
                  summary: Domain already claimed by another org
                  value:
                    success: false
                    error:
                      code: conflict
                      message: Domain is already claimed by another organization

  /domains/{id}:
    parameters:
      - $ref: '#/components/parameters/ResourceId'

    patch:
      operationId: updateDomain
      summary: Update domain settings
      description: |
        Update a verified domain's settings. Only verified domains can be
        updated. Per-domain spam thresholds require a Pro plan.
      tags: [Domains]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateDomainInput'
      responses:
        '200':
          description: Updated domain
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/VerifiedDomain'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

    delete:
      operationId: deleteDomain
      summary: Delete a domain
      description: Deletes a verified or unverified domain claim.
      tags: [Domains]
      responses:
        '200':
          $ref: '#/components/responses/Deleted'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /domains/{id}/verify:
    parameters:
      - $ref: '#/components/parameters/ResourceId'

    post:
      operationId: verifyDomain
      summary: Verify domain ownership
      description: |
        Checks DNS records (MX and TXT) to verify domain ownership.
        On success, the domain is promoted from unverified to verified.
        On failure, returns which checks passed and which failed.
      tags: [Domains]
      responses:
        '200':
          description: Verification result
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/DomainVerifyResult'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  # ---------------------------------------------------------------------------
  # Emails
  # ---------------------------------------------------------------------------
  /emails:
    get:
      operationId: listEmails
      summary: List inbound emails
      description: |
        Returns a paginated list of INBOUND emails received at your
        verified domains. Outbound messages sent via /send-mail are
        not included; this endpoint is the inbox view, not a
        unified send/receive history.

        Supports filtering by domain, status, date range, and
        free-text search across subject, sender, and recipient
        fields.

        For a compact text-table summary of the most recent N
        inbounds (no filters, no cursor pagination), the CLI ships
        `primitive emails:latest` as a one-line-per-email shortcut.
        It's TTY-aware so id columns are full UUIDs when piped, and
        a `--json` flag returns the same envelope this endpoint
        does. Use whichever fits the call site.
      tags: [Emails]
      parameters:
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Limit'
        - name: domain_id
          in: query
          schema:
            type: string
            format: uuid
          description: Filter by domain ID
        - name: status
          in: query
          schema:
            $ref: '#/components/schemas/EmailStatus'
          description: |
            Filter inbound rows by lifecycle status. See `EmailStatus`
            for what each value means. Note that the webhook delivery
            state is a SEPARATE lifecycle on the same row; filter by
            `webhook_status` semantics is not currently supported on
            this endpoint.
        - name: search
          in: query
          schema:
            type: string
            maxLength: 500
          description: Search subject, sender, and recipient (case-insensitive)
        - name: date_from
          in: query
          schema:
            type: string
            format: date-time
          description: Filter emails created on or after this timestamp
        - name: date_to
          in: query
          schema:
            type: string
            format: date-time
          description: Filter emails created on or before this timestamp
      responses:
        '200':
          description: Paginated list of emails
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ListEnvelope'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/EmailSummary'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /emails/search:
    get:
      operationId: searchEmails
      summary: Search inbound emails
      description: |
        Searches inbound emails with structured filters and optional
        full-text matching across parsed email fields. This endpoint is
        optimized for filtered inbox views and CLI polling workflows:
        callers that only need new accepted mail can pass
        `sort=received_at_asc`, `snippet=false`, `include_facets=false`,
        and a `date_from` timestamp.

        `q`, `subject`, and `body` use the same English full-text index
        as the web inbox search. Structured filters such as `from`, `to`,
        `domain_id`, status, attachment presence, and spam score bounds
        are combined with the text query.
      tags: [Emails]
      parameters:
        - name: q
          in: query
          schema:
            type: string
            maxLength: 500
          description: Full-text search DSL query.
        - name: from
          in: query
          schema:
            type: string
            maxLength: 255
          description: Filter by sender address or sender domain.
        - name: to
          in: query
          schema:
            type: string
            maxLength: 255
          description: Filter by recipient address or recipient domain.
        - name: subject
          in: query
          schema:
            type: string
            maxLength: 500
          description: Full-text search restricted to the subject field.
        - name: body
          in: query
          schema:
            type: string
            maxLength: 2000
          description: Full-text search restricted to the parsed text body.
        - name: domain_id
          in: query
          schema:
            type: string
            format: uuid
          description: Filter by domain ID.
        - name: status
          in: query
          schema:
            $ref: '#/components/schemas/EmailStatus'
          description: Filter by inbound email lifecycle status.
        - name: date_from
          in: query
          schema:
            type: string
            format: date-time
          description: Filter emails received on or after this timestamp.
        - name: date_to
          in: query
          schema:
            type: string
            format: date-time
          description: Filter emails received on or before this timestamp.
        - name: has_attachment
          in: query
          schema:
            type: string
            enum: ['true', 'false']
          description: Filter by whether the email has one or more attachments.
        - name: spam_score_lt
          in: query
          schema:
            type: number
          description: Filter to emails with spam score below this value.
        - name: spam_score_gte
          in: query
          schema:
            type: number
          description: Filter to emails with spam score greater than or equal to this value.
        - name: sort
          in: query
          schema:
            type: string
            enum: [relevance, received_at_desc, received_at_asc]
          description: |
            Sort mode. Defaults to relevance when a text query is present,
            otherwise `received_at_desc`.
        - name: cursor
          in: query
          schema:
            type: string
            maxLength: 200
          description: Opaque pagination cursor from a previous search response.
        - $ref: '#/components/parameters/Limit'
        - name: snippet
          in: query
          schema:
            type: string
            enum: ['true', 'false']
            default: 'true'
          description: Include subject/body highlight snippets when text search is active.
        - name: include_facets
          in: query
          schema:
            type: string
            enum: ['true', 'false']
            default: 'true'
          description: Include facet counts for sender, domain, status, and attachment presence.
      responses:
        '200':
          description: Search results
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/EmailSearchResult'
                      meta:
                        $ref: '#/components/schemas/EmailSearchMeta'
                      facets:
                        $ref: '#/components/schemas/EmailSearchFacets'
                    required: [data, meta]
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '504':
          description: Search query timed out
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /emails/{id}:
    parameters:
      - $ref: '#/components/parameters/ResourceId'

    get:
      operationId: getEmail
      summary: Get inbound email by id
      description: |
        Returns the full record for an inbound email received at one
        of your verified domains, including the parsed text and HTML
        bodies, threading metadata, SMTP envelope detail, webhook
        delivery state, and a `replies` array for any outbound sends
        recorded as replies to this inbound.

        For listing inbound emails (with cursor pagination, status
        and date filters, and free-text search), use
        `/emails`. Outbound (sent) email records are NOT returned
        here; use `/sent-emails/{id}` for those.

        The response carries four sender-shaped fields whose
        meanings overlap. `from_email` is the canonical "who sent
        this" field for most use cases (parsed bare address from
        the `From:` header, with a `sender` fallback). `from_header`
        is the raw header including any display name. `sender` and
        `smtp_mail_from` both carry the SMTP envelope MAIL FROM
        (return-path) and are equal by construction; `sender` is
        the older field name retained for compatibility. See
        `primitive describe emails:get-email | jq '.responseSchema.properties'`
        for per-field detail.
      tags: [Emails]
      responses:
        '200':
          description: Email details
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/EmailDetail'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

    delete:
      operationId: deleteEmail
      summary: Delete an email
      tags: [Emails]
      responses:
        '200':
          $ref: '#/components/responses/Deleted'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /emails/{id}/raw:
    parameters:
      - $ref: '#/components/parameters/ResourceId'

    get:
      operationId: downloadRawEmail
      summary: Download raw email
      description: |
        Downloads the raw RFC 822 email file (.eml). Authenticates via
        a signed download token (provided in webhook payloads) or a
        valid session.
      tags: [Emails]
      security:
        - BearerAuth: []
        - DownloadToken: []
      parameters:
        - name: token
          in: query
          schema:
            type: string
          description: Signed download token from webhook payload
      responses:
        '200':
          description: Raw email file
          content:
            message/rfc822:
              schema:
                type: string
                format: binary
          headers:
            Content-Disposition:
              schema:
                type: string
                example: 'attachment; filename="email-id.eml"'
            X-Content-SHA256:
              schema:
                type: string
              description: SHA-256 hex digest of the file
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /emails/{id}/attachments.tar.gz:
    parameters:
      - $ref: '#/components/parameters/ResourceId'

    get:
      operationId: downloadAttachments
      summary: Download email attachments
      description: |
        Downloads all attachments as a gzip-compressed tar archive.
        Authenticates via a signed download token (provided in webhook
        payloads) or a valid session.
      tags: [Emails]
      security:
        - BearerAuth: []
        - DownloadToken: []
      parameters:
        - name: token
          in: query
          schema:
            type: string
          description: Signed download token from webhook payload
      responses:
        '200':
          description: Attachments archive
          content:
            application/gzip:
              schema:
                type: string
                format: binary
          headers:
            Content-Disposition:
              schema:
                type: string
                example: 'attachment; filename="email-id_attachments.tar.gz"'
            X-Content-SHA256:
              schema:
                type: string
              description: SHA-256 hex digest of the archive
            X-Attachment-Count:
              schema:
                type: string
              description: Number of attachments in the archive
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /emails/{id}/reply:
    parameters:
      - $ref: '#/components/parameters/ResourceId'

    post:
      operationId: replyToEmail
      summary: Reply to an inbound email
      description: |
        Sends an outbound reply to the inbound email identified by `id`.
        Threading headers (`In-Reply-To`, `References`), recipient
        derivation (Reply-To, then From, then bare sender), and the
        `Re:` subject prefix are all derived server-side from the
        stored inbound row. The request body carries only the message
        body and optional `wait` flag; passing any header or recipient
        override is rejected by the schema (`additionalProperties:
        false`).

        Forwards through the same gates as `/send-mail`: the response
        status, error envelope, and `idempotent_replay` flag mirror
        the send-mail contract verbatim.
      tags: [Sending]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReplyInput'
      responses:
        '200':
          description: Outbound relay result
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/SendMailResult'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          description: |
            Inbound is not repliable: the row exists but lacks a
            `message_id` (no thread anchor) or a `recipient` (cannot
            derive the From address).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                success: false
                error:
                  code: inbound_not_repliable
                  message: inbound has no Message-ID; cannot anchor a reply thread
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
        '502':
          $ref: '#/components/responses/BadGateway'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'

  /emails/{id}/replay:
    parameters:
      - $ref: '#/components/parameters/ResourceId'

    post:
      operationId: replayEmailWebhooks
      summary: Replay email webhooks
      description: |
        Re-delivers the webhook payload for this email to all active
        endpoints matching the email's domain. Rate limited per-email
        (short cooldown between successive replays of the same email)
        and per-org (burst + sustained windows), sharing an org-wide
        budget with delivery replays.
      tags: [Emails]
      responses:
        '200':
          description: Replay result
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/ReplayResult'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'

  /emails/{id}/discard-content:
    parameters:
      - $ref: '#/components/parameters/ResourceId'

    post:
      operationId: discardEmailContent
      summary: Discard email content
      description: |
        Permanently deletes the email's raw bytes, parsed body (text + HTML),
        and attachments while preserving metadata (sender, recipient,
        subject, timestamps, hashes, attachment manifest) for audit logs.
        Idempotent: a second call returns success with
        `already_discarded: true` and does no work.

        **Gated** on the customer's discard-content opt-in (managed in the
        dashboard at Settings > Webhooks). When the toggle is off, this
        endpoint returns `403` with code `discard_not_enabled` and a
        message pointing the human at the dashboard. There is intentionally
        no API to flip this toggle. Opting in to a destructive,
        non-reversible operation must be a deliberate human click in the
        UI.
      tags: [Emails]
      responses:
        '200':
          description: Discard result
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/DiscardContentResult'
                    required: [data]
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'

  # ---------------------------------------------------------------------------
  # Endpoints
  # ---------------------------------------------------------------------------
  /endpoints:
    get:
      operationId: listEndpoints
      summary: List webhook endpoints
      description: Returns all active (non-deleted) webhook endpoints.
      tags: [Endpoints]
      responses:
        '200':
          description: List of endpoints
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/Endpoint'
        '401':
          $ref: '#/components/responses/Unauthorized'

    post:
      operationId: createEndpoint
      summary: Create a webhook endpoint
      description: |
        Creates a new webhook endpoint. If a deactivated endpoint
        with the same URL and domain exists, it is reactivated
        instead. Subject to plan limits on the number of active
        endpoints.

        **Signing is account-scoped, not per-endpoint.** This call
        does not return any signing material; every endpoint on the
        account uses the same webhook secret, fetched via
        `GET /account/webhook-secret`. See the API-level "Webhook
        signing" section for the full wire format (header name,
        signed string, hash algo, secret format, tolerance) and a
        language-agnostic verification recipe.

        After creating the endpoint, fire a test delivery against
        it via `POST /endpoints/{id}/test` to confirm your verifier
        accepts the signature.
      tags: [Endpoints]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateEndpointInput'
      responses:
        '201':
          description: Endpoint created (or reactivated)
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/Endpoint'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /endpoints/{id}:
    parameters:
      - $ref: '#/components/parameters/ResourceId'

    patch:
      operationId: updateEndpoint
      summary: Update a webhook endpoint
      description: |
        Updates an active webhook endpoint. If the URL is changed, the old
        endpoint is deactivated and a new one is created (or an existing
        deactivated endpoint with the new URL is reactivated).
      tags: [Endpoints]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateEndpointInput'
      responses:
        '200':
          description: Updated endpoint
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/Endpoint'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

    delete:
      operationId: deleteEndpoint
      summary: Delete a webhook endpoint
      description: |
        Soft-deletes a webhook endpoint. The endpoint will no longer
        receive webhook deliveries.
      tags: [Endpoints]
      responses:
        '200':
          $ref: '#/components/responses/Deleted'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /endpoints/{id}/test:
    parameters:
      - $ref: '#/components/parameters/ResourceId'

    post:
      operationId: testEndpoint
      summary: Send a test webhook
      description: |
        Sends a sample `email.received` event to the endpoint. The request
        includes SSRF protection (private IP rejection and DNS pinning).
        Rate limited to 4 per minute and 30 per hour (non-exempt).
        Successful deliveries and verified-domain endpoints are exempt
        from the rate limit.
      tags: [Endpoints]
      responses:
        '200':
          description: Test result
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/TestResult'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'

  # ---------------------------------------------------------------------------
  # Filters
  # ---------------------------------------------------------------------------
  /filters:
    get:
      operationId: listFilters
      summary: List filter rules
      description: Returns all whitelist and blocklist filter rules.
      tags: [Filters]
      responses:
        '200':
          description: List of filters
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/Filter'
        '401':
          $ref: '#/components/responses/Unauthorized'

    post:
      operationId: createFilter
      summary: Create a filter rule
      description: |
        Creates a new whitelist or blocklist filter. Per-domain filters
        require a Pro plan. Patterns are stored as lowercase.
      tags: [Filters]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateFilterInput'
      responses:
        '201':
          description: Filter created
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/Filter'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /filters/{id}:
    parameters:
      - $ref: '#/components/parameters/ResourceId'

    patch:
      operationId: updateFilter
      summary: Update a filter rule
      description: Toggle a filter's enabled state.
      tags: [Filters]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateFilterInput'
      responses:
        '200':
          description: Updated filter
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/Filter'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

    delete:
      operationId: deleteFilter
      summary: Delete a filter rule
      tags: [Filters]
      responses:
        '200':
          $ref: '#/components/responses/Deleted'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  # ---------------------------------------------------------------------------
  # Webhook Deliveries
  # ---------------------------------------------------------------------------
  /webhooks/deliveries:
    get:
      operationId: listDeliveries
      summary: List webhook deliveries
      description: |
        Returns a paginated list of webhook delivery attempts. Each delivery
        includes a nested `email` object with sender, recipient, and subject.
      tags: [Webhook Deliveries]
      parameters:
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Limit'
        - name: email_id
          in: query
          schema:
            type: string
            format: uuid
          description: Filter by email ID
        - name: status
          in: query
          schema:
            type: string
            enum: [pending, delivered, header_confirmed, failed]
          description: Filter by delivery status
        - name: date_from
          in: query
          schema:
            type: string
            format: date-time
          description: Filter deliveries created on or after this timestamp
        - name: date_to
          in: query
          schema:
            type: string
            format: date-time
          description: Filter deliveries created on or before this timestamp
      responses:
        '200':
          description: Paginated list of deliveries
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ListEnvelope'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/DeliverySummary'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /webhooks/deliveries/{id}/replay:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          pattern: '^\d+$'
        description: Delivery ID (numeric)

    post:
      operationId: replayDelivery
      summary: Replay a webhook delivery
      description: |
        Re-sends the stored webhook payload from a previous delivery attempt.
        If the original endpoint is still active, it is targeted. If the
        original endpoint was deleted, the oldest active endpoint is used.
        Deactivated endpoints cannot be replayed to. Rate limited per-org,
        sharing an org-wide budget with email replays.
      tags: [Webhook Deliveries]
      responses:
        '200':
          description: Replay result
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/ReplayResult'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'

  # ---------------------------------------------------------------------------
  # Sending
  # ---------------------------------------------------------------------------
  /send-permissions:
    get:
      operationId: getSendPermissions
      summary: List send-permission rules
      description: |
        Returns a flat list of rules describing every recipient the
        caller may send to. Each rule has a `type`, a kind-specific
        payload, and a human-readable `description`. If any rule
        matches the recipient, /send-mail will accept the send under
        the recipient-scope check.

        The endpoint is the answer to "where can I send" without
        exposing internal entitlement names. Agents that don't
        recognize a `type` can still read the `description` prose
        and act on it.

        Rule kinds, ordered broadest-first so an agent can stop
        scanning at the first match:

          1. `any_recipient` (one entry, only when the org can send
             anywhere): every other rule below it is redundant.
          2. `managed_zone` (always emitted, one per Primitive-managed
             zone): sends to any address at *.primitive.email or
             *.email.works always succeed; no entitlement required.
          3. `your_domain` (one per active verified outbound domain
             owned by the org): sends to that domain are approved.
          4. `address` (one per address that has authenticated
             inbound mail to the org, capped at `meta.address_cap`):
             sends to that exact address are approved.

        The list is informational, not an authorization check.
        /send-mail remains the source of truth on whether an
        individual send will succeed (it also enforces the
        from-address and the `send_mail` entitlement, which are
        not recipient-scope concerns and are not represented here).
      tags: [Sending]
      responses:
        '200':
          description: Send-permission rules for the caller's org
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/SendPermissionRule'
                      meta:
                        $ref: '#/components/schemas/SendPermissionsMeta'
                    required: [data, meta]
        '401':
          $ref: '#/components/responses/Unauthorized'

  /send-mail:
    post:
      operationId: sendEmail
      summary: Send outbound email
      description: |
        Sends an outbound email through Primitive's outbound relay. By default
        the request returns once the relay accepts the message for delivery.
        Set `wait: true` to wait for the first downstream SMTP delivery outcome.

        **Host routing.** /send-mail is served by the attachments-
        supporting host (`https://api.primitive.dev/v1`) so the
        request body can carry inline attachments up to ~30 MiB raw.
        The primary host (`https://www.primitive.dev/api/v1`) also
        accepts /send-mail for attachment-free sends; sends WITH
        attachments to the primary host return 413
        `attachments_unsupported_on_this_endpoint`. The typed SDKs
        route /send-mail to the attachments host automatically.
      servers:
        - url: https://api.primitive.dev/v1
          description: Attachments-supporting send host (recommended)
        - url: https://www.primitive.dev/api/v1
          description: Primary host (attachment-free sends only)
      tags: [Sending]
      parameters:
        - name: Idempotency-Key
          in: header
          required: false
          schema:
            type: string
            minLength: 1
            maxLength: 255
            pattern: '^[\x21-\x7E]+$'
          description: |
            Optional customer-supplied idempotency key. If omitted, Primitive
            derives one from the canonical request payload and echoes the
            effective value in the `Idempotency-Key` response header.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SendMailInput'
      responses:
        '200':
          description: Outbound relay result
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/SendMailResult'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
        '502':
          $ref: '#/components/responses/BadGateway'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'

  /sent-emails:
    get:
      operationId: listSentEmails
      summary: List outbound sent emails
      description: |
        Returns a paginated list of OUTBOUND emails the caller's
        org has sent via /send-mail (and /emails/{id}/reply, which
        forwards through /send-mail). Includes every recorded
        attempt, including gate-denied attempts that the agent
        never called and rows still in `queued` state.

        For inbound mail received at your verified domains, see
        /emails. There is no unified send/receive history endpoint;
        the two surfaces are intentionally separate because the
        underlying tables, statuses, and lifecycle differ.

        Email bodies (`body_text`, `body_html`) are NOT included on
        list rows so a 50-row page can't balloon into a multi-MB
        response when sends are near the 5MB body cap. Use
        /sent-emails/{id} to fetch a single row with bodies, or
        cross-reference by `client_idempotency_key` if the caller
        already has the body locally.
      tags: [Sending]
      parameters:
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Limit'
        - name: status
          in: query
          schema:
            $ref: '#/components/schemas/SentEmailStatus'
          description: |
            Filter to rows in this status. Useful for polling
            queued rows that haven't transitioned, auditing
            gate-denied attempts, or listing only successful
            deliveries.
        - name: request_id
          in: query
          schema:
            type: string
            format: uuid
          description: |
            Filter to the row matching a specific server-issued
            `request_id`. The /send-mail response surfaces
            `request_id` on every send; this lookup lets the
            caller find the historical row for a given live call
            without remembering its `id`.
        - name: idempotency_key
          in: query
          schema:
            type: string
            minLength: 1
            maxLength: 255
          description: |
            Filter to rows with the given `client_idempotency_key`.
            Multiple rows can share a key (a retry that hit the
            idempotent-replay path returns the same row, but a
            retry with a DIFFERENT canonical payload under the
            same key is rejected by /send-mail before the row is
            written, so duplicates are bounded).
        - name: date_from
          in: query
          schema:
            type: string
            format: date-time
          description: Inclusive lower bound on `created_at`.
        - name: date_to
          in: query
          schema:
            type: string
            format: date-time
          description: Inclusive upper bound on `created_at`.
      responses:
        '200':
          description: Page of sent-email summaries
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ListEnvelope'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/SentEmailSummary'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /sent-emails/{id}:
    get:
      operationId: getSentEmail
      summary: Get a sent email by id
      description: |
        Returns the full sent-email record by id, including
        `body_text` and `body_html` (omitted from the listing
        endpoint to keep paginated responses small). Use this when
        diagnosing a specific send, e.g. inspecting the receiver's
        SMTP response on a `bounced` row or pulling the gate
        denial detail on a `gate_denied` row.
      tags: [Sending]
      parameters:
        - $ref: '#/components/parameters/ResourceId'
      responses:
        '200':
          description: Sent-email detail
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/SentEmailDetail'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  # ---------------------------------------------------------------------------
  # Functions
  # ---------------------------------------------------------------------------
  /functions:
    get:
      operationId: listFunctions
      summary: List functions
      description: |
        Returns every active (non-deleted) function in the org, newest
        first. Each entry carries the deploy status and the gateway URL
        that the platform's webhook delivery loop posts to. To inspect
        the source code or deploy errors, use `GET /functions/{id}`.
      tags: [Functions]
      responses:
        '200':
          description: List of functions
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/FunctionListItem'
        '401':
          $ref: '#/components/responses/Unauthorized'

    post:
      operationId: createFunction
      summary: Deploy a function
      description: |
        Creates and deploys a new function. The handler must be a single
        ESM module whose default export is an object with an async
        `fetch(request, env)` method (Workers-style). The gateway
        HMAC-verifies the POST against the org's webhook secret before
        invoking the handler; the request body parses to an
        `email.received` event (see `EmailReceivedEvent` and the
        Webhook payload section for the full schema). Code is bundled
        before being uploaded; ship a single self-contained file rather
        than relying on external imports.

        **Code limits.** `code` is capped at 1 MiB UTF-8. `sourceMap`
        (optional) is capped at 5 MiB UTF-8 and is stored only on the
        edge runtime side; it is not persisted in Primitive's database.

        **Auto-wiring.** On successful deploy, Primitive automatically
        creates a webhook endpoint that delivers inbound mail to the
        function. There is nothing to configure on the Endpoints API
        for this to work; the gateway URL returned here is for
        reference only and is not directly callable from outside.

        **Secrets.** New functions ship with the managed secrets
        (`PRIMITIVE_WEBHOOK_SECRET`, `PRIMITIVE_API_KEY`) already
        bound. Add user-set secrets via
        `POST /functions/{id}/secrets`; secret writes only land in the
        running handler on the next redeploy.
      tags: [Functions]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateFunctionInput'
      responses:
        '201':
          description: Function created and deployed
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/CreateFunctionResult'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '409':
          description: A function with this name already exists in the org
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '502':
          $ref: '#/components/responses/BadGateway'

  /functions/{id}:
    parameters:
      - $ref: '#/components/parameters/ResourceId'

    get:
      operationId: getFunction
      summary: Get a function
      description: |
        Returns the full record for a function, including its current
        source code and the deploy status / error from the most recent
        deploy attempt.
      tags: [Functions]
      responses:
        '200':
          description: Function record
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/FunctionDetail'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

    put:
      operationId: updateFunction
      summary: Update and redeploy a function
      description: |
        Replaces the function's source code with the body's `code` and
        triggers a redeploy. Same size limits as `POST /functions`.
        Use this verb to push secret writes into the running handler:
        passing the same `code` re-runs the deploy and refreshes the
        binding set with the latest values from the secrets table.

        On a 502 deploy failure, the previously-deployed code stays
        live; the runtime never serves a half-built bundle. The
        `deploy_error` field on the returned record carries the error
        that came back from the runtime so you can surface it to users
        without polling.
      tags: [Functions]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateFunctionInput'
      responses:
        '200':
          description: Updated function
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/FunctionDetail'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '502':
          $ref: '#/components/responses/BadGateway'

    delete:
      operationId: deleteFunction
      summary: Delete a function
      description: |
        Soft-deletes the function row, removes the script from the edge
        runtime, and deactivates the auto-wired webhook endpoint so no
        further inbound mail is delivered. Past deploy history,
        invocations, and logs are retained.

        Returns 502 if the runtime delete fails partway; the function
        row stays in place and the call is safe to retry until it
        succeeds.
      tags: [Functions]
      responses:
        '200':
          $ref: '#/components/responses/Deleted'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '502':
          $ref: '#/components/responses/BadGateway'

  /functions/{id}/test:
    parameters:
      - $ref: '#/components/parameters/ResourceId'

    post:
      operationId: testFunction
      summary: Send a test invocation
      description: |
        Sends a real test email from a Primitive-controlled sender to a
        local-part on one of the org's verified inbound domains. By
        default the recipient is a synthetic
        `__primitive_function_test+<random>@<domain>` address that
        every handler's catch-all routing receives identically; pass
        `local_part` to override and exercise routing logic that
        branches on a specific recipient (the common pattern when one
        function handles multiple inboxes like `summarize@` and
        `action@`). The function fires through the normal MX delivery
        path, so reply / send-mail calls from inside the handler
        against the inbound's `email.id` work the same as in
        production. Returns immediately after the send is queued; the
        invocation appears on the function's invocations list within a
        few seconds.

        Requires that the function is currently `deployed`. Returns 422
        if the function is in `pending` or `failed` state, or if the
        org has no verified inbound domain to receive the test mail.
        Returns 400 if `local_part` is set to a value that does not
        match the local-part character set.
      tags: [Functions]
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                local_part:
                  type: string
                  description: |
                    Override the synthetic local-part. When set, the
                    test email is sent to `<local_part>@<picked-domain>`
                    instead of the default
                    `__primitive_function_test+<random>@<picked-domain>`.
                    Must start with an alphanumeric and contain only
                    letters, digits, dots, plus signs, hyphens, or
                    underscores; 1-64 characters total.
                  minLength: 1
                  maxLength: 64
                  pattern: '^[A-Za-z0-9][A-Za-z0-9._+-]{0,63}$'
                  example: summarize
      responses:
        '200':
          description: Test send queued
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/TestInvocationResult'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          description: Function not in a state that can be invoked, or no inbound domain configured
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '502':
          $ref: '#/components/responses/BadGateway'
        '503':
          description: Sending agent misconfigured
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /functions/{id}/secrets:
    parameters:
      - $ref: '#/components/parameters/ResourceId'

    get:
      operationId: listFunctionSecrets
      summary: List a function's secrets
      description: |
        Returns metadata for every secret bound to the function, with
        managed entries (provisioned by Primitive) listed first and
        user-set entries listed alphabetically after. **Values are
        never returned.** Secret writes are write-only.

        Managed entries (e.g. `PRIMITIVE_WEBHOOK_SECRET`,
        `PRIMITIVE_API_KEY`) carry a `description` instead of
        `created_at` / `updated_at`. They cannot be created, updated,
        or deleted via this API.
      tags: [Functions]
      responses:
        '200':
          description: List of secrets (metadata only, no values)
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          items:
                            type: array
                            items:
                              $ref: '#/components/schemas/FunctionSecretListItem'
                        required: [items]
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

    post:
      operationId: createFunctionSecret
      summary: Create or update a secret
      description: |
        Idempotent insert-or-update keyed on `(function_id, key)`.
        Returns 201 the first time the key is set, 200 on subsequent
        updates. Values are encrypted at rest and only become visible
        to the running handler on the next deploy (`PUT /functions/{id}`
        with the existing code is sufficient to refresh bindings).

        Keys must match `^[A-Z_][A-Z0-9_]*$` (uppercase letters,
        digits, underscores; first character is a letter or
        underscore). Values are at most 4096 UTF-8 bytes. System-
        managed keys are reserved and rejected.
      tags: [Functions]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateFunctionSecretInput'
      responses:
        '200':
          description: Secret updated
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/FunctionSecretWriteResult'
        '201':
          description: Secret created
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/FunctionSecretWriteResult'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /functions/{id}/secrets/{key}:
    parameters:
      - $ref: '#/components/parameters/ResourceId'
      - name: key
        in: path
        required: true
        description: Secret key. Must match `^[A-Z_][A-Z0-9_]*$`.
        schema:
          type: string
          pattern: '^[A-Z_][A-Z0-9_]*$'

    put:
      operationId: setFunctionSecret
      summary: Set a secret by key
      description: |
        Path-keyed companion to `POST /functions/{id}/secrets`.
        Idempotent: returns 201 the first time the key is set, 200 on
        subsequent updates. Same validation rules and same write-only
        guarantees as the POST verb; the new value lands in the running
        handler on the next deploy.
      tags: [Functions]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SetFunctionSecretInput'
      responses:
        '200':
          description: Secret updated
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/FunctionSecretWriteResult'
        '201':
          description: Secret created
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/FunctionSecretWriteResult'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

    delete:
      operationId: deleteFunctionSecret
      summary: Delete a secret
      description: |
        Removes the secret. The binding stays live in the running
        handler until the next deploy refreshes the binding set
        (`PUT /functions/{id}` with the existing code is sufficient).
        Returns 404 if the key did not exist. Managed system keys
        cannot be deleted.
      tags: [Functions]
      responses:
        '204':
          description: Secret deleted
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /functions/{id}/logs:
    parameters:
      - $ref: '#/components/parameters/ResourceId'

    get:
      operationId: listFunctionLogs
      summary: List a function's execution logs
      description: |
        Returns the most recent `function_logs` rows for the function,
        newest first. Each row is a single `console.log` / `console.error`
        invocation captured from the running handler.

        Page through history with the opaque `cursor` returned as
        `next_cursor`; pass it back as the `cursor` query param on the
        next call. `next_cursor` is `null` when there are no further
        rows. The cursor format is an implementation detail and should
        not be parsed by callers.
      tags: [Functions]
      parameters:
        - name: limit
          in: query
          required: false
          description: |
            Maximum number of rows to return. Clamped to 1..200; default
            50.
          schema:
            type: integer
            minimum: 1
            maximum: 200
            default: 50
        - name: cursor
          in: query
          required: false
          description: |
            Opaque pagination cursor from a previous response's
            `next_cursor`. Omit on the first call.
          schema:
            type: string
      responses:
        '200':
          description: List of log rows (newest first) plus pagination cursor.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          items:
                            type: array
                            items:
                              $ref: '#/components/schemas/FunctionLogRow'
                          next_cursor:
                            type: [string, 'null']
                            description: |
                              Pass back as `cursor` to fetch the next
                              page. `null` when no further rows exist.
                        required: [items, next_cursor]
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

# =============================================================================
# Components
# =============================================================================
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: 'API key with `prim_` prefix: `Authorization: Bearer prim_<key>`'

    DownloadToken:
      type: apiKey
      in: query
      name: token
      description: Signed download token provided in webhook payloads

  parameters:
    ResourceId:
      name: id
      in: path
      required: true
      schema:
        type: string
        format: uuid
      description: Resource UUID

    Cursor:
      name: cursor
      in: query
      schema:
        type: string
      description: |
        Pagination cursor from a previous response's `meta.cursor` field.
        Format: `{ISO-datetime}|{id}`

    Limit:
      name: limit
      in: query
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 50
      description: Number of results per page

  responses:
    Unauthorized:
      description: Invalid or missing API key
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            success: false
            error:
              code: unauthorized
              message: Invalid or missing API key

    Forbidden:
      description: Authenticated caller lacks permission for the operation
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            success: false
            error:
              code: forbidden
              message: Insufficient permissions

    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            success: false
            error:
              code: not_found
              message: Resource not found

    ValidationError:
      description: Invalid request parameters
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            success: false
            error:
              code: validation_error
              message: Invalid domain format

    RateLimited:
      description: Rate limit exceeded
      headers:
        Retry-After:
          schema:
            type: integer
          description: Seconds to wait before retrying
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            success: false
            error:
              code: rate_limit_exceeded
              message: Rate limit exceeded

    BadGateway:
      description: Primitive could not complete the downstream SMTP request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            success: false
            error:
              code: outbound_unreachable
              message: Outbound SMTP service request failed

    ServiceUnavailable:
      description: Primitive is temporarily unable to process the request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            success: false
            error:
              code: outbound_capacity_exhausted
              message: Outbound capacity is temporarily exhausted

    InternalError:
      description: Primitive encountered an internal error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            success: false
            error:
              code: internal_error
              message: Internal server error

    Deleted:
      description: Resource deleted
      content:
        application/json:
          schema:
            allOf:
              - $ref: '#/components/schemas/SuccessEnvelope'
              - type: object
                properties:
                  data:
                    type: object
                    properties:
                      deleted:
                        type: boolean
                        const: true
                    required: [deleted]

  schemas:
    # -------------------------------------------------------------------------
    # Envelopes
    # -------------------------------------------------------------------------
    SuccessEnvelope:
      type: object
      properties:
        success:
          type: boolean
          const: true
      required: [success, data]

    ListEnvelope:
      type: object
      properties:
        success:
          type: boolean
          const: true
        meta:
          $ref: '#/components/schemas/PaginationMeta'
      required: [success, data, meta]

    PaginationMeta:
      type: object
      properties:
        total:
          type: integer
          description: Total number of matching records
        limit:
          type: integer
          description: Page size used for this request
        cursor:
          type: [string, 'null']
          description: Cursor for the next page, or null if no more results
      required: [total, limit, cursor]

    ErrorResponse:
      type: object
      properties:
        success:
          type: boolean
          const: false
        error:
          type: object
          properties:
            code:
              type: string
              enum:
                - unauthorized
                - forbidden
                - not_found
                - validation_error
                - rate_limit_exceeded
                - internal_error
                - conflict
                - mx_conflict
                - outbound_disabled
                - cannot_send_from_domain
                - recipient_not_allowed
                - outbound_key_missing
                - outbound_unreachable
                - outbound_key_invalid
                - outbound_capacity_exhausted
                - outbound_response_malformed
                - outbound_relay_failed
                - discard_not_enabled
                - inbound_not_repliable
                - search_timeout
                - authorization_pending
                - slow_down
                - access_denied
                - expired_token
                - invalid_device_code
            message:
              type: string
            details:
              type: object
              description: |
                Optional structured data that callers can inspect to recover
                from the error. The fields present depend on `code`. Additional
                keys may be added over time without a major-version bump.
              additionalProperties: true
              properties:
                mx_conflict:
                  type: object
                  description: Present when `code == mx_conflict`.
                  required: [provider_name, suggested_subdomain]
                  properties:
                    provider_name:
                      type: string
                      description: Human-readable name of the detected mailbox provider (e.g. "Google Workspace").
                    suggested_subdomain:
                      type: string
                      description: Subdomain to try instead (e.g. "mail" for `mail.example.com`).
                required_entitlements:
                  type: array
                  items:
                    type: string
                  description: Entitlements that would allow a denied send when no recipient-scope gate was granted.
                sent_email_id:
                  type: string
                  description: ID of the persisted sent-email attempt associated with the error.
                content_hash:
                  type: string
                  description: Content hash of the original request on idempotency cache-hit errors.
                client_idempotency_key:
                  type: string
                  description: Effective idempotency key associated with the original request.
            gates:
              type: array
              items:
                $ref: '#/components/schemas/GateDenial'
              description: Structured per-gate denial detail for recipient-scope send-mail failures.
            request_id:
              type: string
              description: Server-issued request identifier for support and tracing.
          required: [code, message]
      required: [success, error]

    GateDenial:
      type: object
      properties:
        name:
          type: string
          enum: [send_to_confirmed_domains, send_to_known_addresses]
          description: Public recipient-scope gate name that denied the send.
        reason:
          type: string
          enum: [domain_not_confirmed, recipient_unauthenticated, recipient_not_known]
          description: Stable machine-readable denial reason.
        message:
          type: string
          description: Human-readable explanation of the gate denial.
        subject:
          type: string
          description: Domain or address the gate evaluated.
        fix:
          $ref: '#/components/schemas/GateFix'
        docs_url:
          type: string
          description: Public docs URL with more context.
      required: [name, reason, message, subject]

    GateFix:
      type: object
      properties:
        action:
          type: string
          enum: [confirm_domain, sender_must_fix_authentication, wait_for_inbound]
          description: Suggested next action for the caller.
        subject:
          type: string
          description: Entity the action applies to.
      required: [action, subject]

    # -------------------------------------------------------------------------
    # CLI
    # -------------------------------------------------------------------------
    StartCliLoginInput:
      type: object
      additionalProperties: false
      properties:
        device_name:
          type: string
          minLength: 1
          maxLength: 80
          description: Human-readable device name shown during browser approval
        metadata:
          type: object
          additionalProperties: true
          description: Optional client metadata stored with the login session; serialized JSON must be 2048 bytes or fewer

    CliLoginStartResult:
      type: object
      properties:
        device_code:
          type: string
          description: Opaque code used by the CLI to poll for approval
        user_code:
          type: string
          pattern: '^[BCDFGHJKLMNPQRSTVWXZ]{4}-[BCDFGHJKLMNPQRSTVWXZ]{4}$'
          description: Short code the user confirms in the browser
        verification_uri:
          type: string
          description: Browser URL where the user approves the login
        verification_uri_complete:
          type: string
          description: Browser URL with the user code prefilled
        expires_in:
          type: integer
          description: Seconds until the login session expires
        interval:
          type: integer
          description: Minimum seconds between poll requests
      required:
        - device_code
        - user_code
        - verification_uri
        - verification_uri_complete
        - expires_in
        - interval

    PollCliLoginInput:
      type: object
      additionalProperties: false
      properties:
        device_code:
          type: string
          minLength: 1
      required: [device_code]

    CliLoginPollResult:
      type: object
      properties:
        api_key:
          type: string
          description: Newly-created API key for CLI authentication
        key_id:
          type: string
          format: uuid
        key_prefix:
          type: string
        org_id:
          type: string
          format: uuid
        org_name:
          type: [string, 'null']
      required: [api_key, key_id, key_prefix, org_id, org_name]

    CliLogoutInput:
      type: object
      additionalProperties: false
      properties:
        key_id:
          type: string
          format: uuid
          description: Optional key id guard; when provided it must match the authenticated API key

    CliLogoutResult:
      type: object
      properties:
        revoked:
          type: boolean
          const: true
        key_id:
          type: string
          format: uuid
      required: [revoked, key_id]

    # -------------------------------------------------------------------------
    # Account
    # -------------------------------------------------------------------------
    Account:
      type: object
      properties:
        id:
          type: string
          format: uuid
        email:
          type: string
        plan:
          type: string
        created_at:
          type: string
          format: date-time
        onboarding_completed:
          type: boolean
        onboarding_step:
          type: [string, 'null']
        stripe_subscription_status:
          type: [string, 'null']
        subscription_current_period_end:
          type: [string, 'null']
          format: date-time
        subscription_cancel_at_period_end:
          type: [boolean, 'null']
        spam_threshold:
          type: [number, 'null']
          minimum: 0
          maximum: 15
        discard_content_on_webhook_confirmed:
          type: boolean
        webhook_secret_rotated_at:
          type: [string, 'null']
          format: date-time
      required:
        - id
        - email
        - plan
        - created_at
        - discard_content_on_webhook_confirmed

    AccountUpdated:
      type: object
      properties:
        id:
          type: string
          format: uuid
        email:
          type: string
        plan:
          type: string
        spam_threshold:
          type: [number, 'null']
          minimum: 0
          maximum: 15
        discard_content_on_webhook_confirmed:
          type: boolean
      required: [id, email, plan, discard_content_on_webhook_confirmed]

    UpdateAccountInput:
      type: object
      additionalProperties: false
      properties:
        spam_threshold:
          type: [number, 'null']
          minimum: 0
          maximum: 15
          description: Global spam score threshold (0-15). Emails scoring above this are rejected. Set to null to disable.
        discard_content_on_webhook_confirmed:
          type: boolean
          description: Whether to discard email content after the webhook endpoint confirms receipt.
      minProperties: 1

    StorageStats:
      type: object
      properties:
        used_bytes:
          type: integer
          description: Total storage used in bytes
        used_kb:
          type: number
          description: Total storage used in kilobytes (1 decimal)
        used_mb:
          type: number
          description: Total storage used in megabytes (2 decimals)
        quota_mb:
          type: number
          description: Storage quota in megabytes (based on plan)
        percentage:
          type: number
          description: Percentage of quota used (1 decimal)
        emails_count:
          type: integer
          description: Number of stored emails
      required: [used_bytes, used_kb, used_mb, quota_mb, percentage, emails_count]

    WebhookSecret:
      type: object
      properties:
        secret:
          type: string
          description: The webhook signing secret value
      required: [secret]

    # -------------------------------------------------------------------------
    # Domains
    # -------------------------------------------------------------------------
    Domain:
      description: |
        A domain can be either verified or unverified. Verified domains have
        `is_active` and `spam_threshold` fields. Unverified domains have a
        `verification_token` for DNS verification.
      oneOf:
        - $ref: '#/components/schemas/VerifiedDomain'
        - $ref: '#/components/schemas/UnverifiedDomain'

    VerifiedDomain:
      type: object
      properties:
        id:
          type: string
          format: uuid
        org_id:
          type: string
          format: uuid
        domain:
          type: string
        verified:
          type: boolean
          const: true
        is_active:
          type: boolean
        spam_threshold:
          type: [number, 'null']
          minimum: 0
          maximum: 15
        verification_token:
          type: [string, 'null']
        created_at:
          type: string
          format: date-time
      required: [id, org_id, domain, verified, is_active, created_at]

    UnverifiedDomain:
      type: object
      properties:
        id:
          type: string
          format: uuid
        org_id:
          type: string
          format: uuid
        domain:
          type: string
        verified:
          type: boolean
          const: false
        verification_token:
          type: string
          description: Add this value as a TXT record to verify ownership
        created_at:
          type: string
          format: date-time
      required: [id, org_id, domain, verified, verification_token, created_at]

    AddDomainInput:
      type: object
[...]
