openapi: 3.1.0
info:
  title: Primitive API
  version: 1.0.0
  description: |
    The Primitive API lets you manage domains, emails, webhook endpoints,
    filters, and account settings programmatically.

    ## Authentication

    All endpoints require a Bearer token in the `Authorization` header:

    ```
    Authorization: Bearer prim_<your_api_key>
    ```

    API keys are org-scoped. Create and manage them in your dashboard
    under Settings > API Keys.

    ## Rate Limiting

    The API enforces a sliding window rate limit of **120 requests per
    60 seconds** per organization. When exceeded, the API returns `429`
    with a `Retry-After` header indicating how many seconds to wait.

    ## Pagination

    List endpoints use cursor-based pagination. Responses include a
    `meta` object with `total`, `limit`, and `cursor` fields. Pass the
    `cursor` value as a query parameter to fetch the next page. When
    `cursor` is `null`, there are no more results.

    ## Response Format

    All responses use a consistent envelope:

    ```json
    {
      "success": true,
      "data": { ... },
      "meta": { "total": 42, "limit": 50, "cursor": "..." }
    }
    ```

    Errors follow the same pattern:

    ```json
    {
      "success": false,
      "error": { "code": "not_found", "message": "Email not found" }
    }
    ```

    ## Webhook signing

    Outbound webhook deliveries (configured via the `endpoints` API)
    are signed so receivers can verify they came from Primitive and
    have not been tampered with in transit. The signing scheme is
    deliberately simple so it can be reimplemented in any language
    in a few lines. The Node SDK's `verifyWebhookSignature` helper
    is the reference implementation; the wire details below let you
    write a verifier in Python, Go, Ruby, etc. without reading our
    source.

    **Header**: `Primitive-Signature: t=<unix-seconds>,v1=<hex>`

    A legacy `MyMX-Signature` header is also sent on every delivery
    with the same value, retained for back-compatibility with
    integrations written before the rename. New code should read
    `Primitive-Signature`.

    **Signed string**: `${timestamp}.${rawBody}` where `timestamp`
    is the Unix-seconds integer from the `t=` parameter and
    `rawBody` is the exact bytes of the HTTP request body BEFORE
    any JSON decoding. Verify against the raw body, not a
    re-serialized parse, or you will silently mismatch on
    insignificant whitespace.

    **Signature**: HMAC-SHA256 of the signed string, hex-encoded
    (lowercase). Use the account's webhook secret as the HMAC key,
    as a UTF-8 byte sequence.

    **Secret**: returned by `GET /account/webhook-secret`. The
    string looks base64-shaped (e.g. `XNHBBW8VqoBjRfNs1tkZj11jTk...`)
    but is NOT base64; use it AS-IS as a UTF-8 string for the HMAC
    key. Base64-decoding before HMAC will silently produce
    mismatched signatures.

    **Tolerance**: by convention, reject deliveries whose `t=`
    timestamp is more than 5 minutes off your wall-clock to defend
    against replay attacks. The Node SDK's helper enforces this by
    default.

    **Verification recipe** (any language):

    ```
    1. Read the raw HTTP body (do not parse).
    2. Read `Primitive-Signature: t=<ts>,v1=<sig>`.
    3. Reject if abs(now - ts) > 300 seconds.
    4. expected = HMAC_SHA256_hex(secret_utf8, f"{ts}.{rawBody}")
    5. Constant-time compare expected to sig. Reject if not equal.
    ```

    For Node, use `verifyWebhookSignature` from
    `@primitivedotdev/sdk/webhook` (or the higher-level
    `handleWebhook` helper if you want a one-liner). For other
    languages, the recipe above is everything you need.

    Test deliveries: `POST /endpoints/{id}/test` triggers a fake
    delivery to your endpoint URL, signed with your real account
    secret, so you can confirm verification end-to-end without
    needing real inbound mail. The test response carries the exact
    `signature` header value sent on the wire so you can compare
    strings directly.
  contact:
    name: Primitive
    url: https://primitive.dev
  license:
    name: Proprietary
    url: https://primitive.dev/terms

servers:
  - url: https://www.primitive.dev/api/v1
    description: Production

security:
  - BearerAuth: []

tags:
  - name: Account
    description: Manage your account settings, storage, and webhook secret
  - name: Domains
    description: Claim, verify, and manage email domains
  - name: Emails
    description: List, inspect, and manage received emails
  - name: Sending
    description: Send outbound emails through the Primitive API
  - name: Endpoints
    description: Manage webhook endpoints that receive email events
  - name: Filters
    description: Manage whitelist and blocklist filter rules
  - name: Webhook Deliveries
    description: View and replay webhook delivery attempts

paths:
  # ---------------------------------------------------------------------------
  # Account
  # ---------------------------------------------------------------------------
  /account:
    get:
      operationId: getAccount
      summary: Get account info
      tags: [Account]
      responses:
        '200':
          description: Account details
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/Account'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

    patch:
      operationId: updateAccount
      summary: Update account settings
      tags: [Account]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAccountInput'
      responses:
        '200':
          description: Updated account
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/AccountUpdated'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /account/storage:
    get:
      operationId: getStorageStats
      summary: Get storage usage
      tags: [Account]
      responses:
        '200':
          description: Storage statistics
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/StorageStats'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /account/webhook-secret:
    get:
      operationId: getWebhookSecret
      summary: Get webhook signing secret
      description: |
        Returns the webhook signing secret for your account. If no
        secret exists yet, one is generated automatically on first
        access.

        Signing is account-scoped, not per-endpoint. Every webhook
        delivery from any of your registered endpoints is signed
        with this single secret. Rotate via
        `POST /account/webhook-secret/rotate`.

        **Secret format**: the returned string looks base64-shaped
        (e.g. `XNHBBW8VqoBjRfNs1tkZj11jTk...`) but is NOT base64.
        Use it AS-IS as a UTF-8 string when computing HMAC over a
        delivery body. Base64-decoding before HMAC will silently
        produce mismatched signatures.

        See the API-level "Webhook signing" section for the full
        wire format (header name, signed string shape, hash algo,
        tolerance) including a language-agnostic verification
        recipe.
      tags: [Account]
      responses:
        '200':
          description: Webhook secret
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/WebhookSecret'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /account/webhook-secret/rotate:
    post:
      operationId: rotateWebhookSecret
      summary: Rotate webhook signing secret
      description: |
        Generates a new webhook signing secret, replacing the current one.
        Rate limited to once per 60 minutes.
      tags: [Account]
      responses:
        '200':
          description: New webhook secret
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/WebhookSecret'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'

  # ---------------------------------------------------------------------------
  # Domains
  # ---------------------------------------------------------------------------
  /domains:
    get:
      operationId: listDomains
      summary: List all domains
      description: |
        Returns all verified and unverified domains for your organization,
        sorted by creation date (newest first). Each domain includes a
        `verified` boolean to distinguish between the two states.
      tags: [Domains]
      responses:
        '200':
          description: List of domains
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/Domain'
        '401':
          $ref: '#/components/responses/Unauthorized'

    post:
      operationId: addDomain
      summary: Claim a new domain
      description: |
        Creates an unverified domain claim. You will receive a
        `verification_token` to add as a DNS TXT record before
        calling the verify endpoint.
      tags: [Domains]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddDomainInput'
      responses:
        '201':
          description: Domain claim created
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/UnverifiedDomain'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '409':
          description: |
            Domain claim conflicts with existing state. Two error codes
            are possible:
              * `mx_conflict`: the domain's current MX records point at
                another mailbox provider. The response includes
                `error.details.mx_conflict` with the detected provider
                and a suggested subdomain.
              * `conflict`: the domain is already claimed by another
                org, or a pending claim exists for another user.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                mx_conflict:
                  summary: Domain has MX records on another provider
                  value:
                    success: false
                    error:
                      code: mx_conflict
                      message: Domain is currently receiving mail via another provider
                      details:
                        mx_conflict:
                          provider_name: Google Workspace
                          suggested_subdomain: mail
                already_claimed:
                  summary: Domain already claimed by another org
                  value:
                    success: false
                    error:
                      code: conflict
                      message: Domain is already claimed by another organization

  /domains/{id}:
    parameters:
      - $ref: '#/components/parameters/ResourceId'

    patch:
      operationId: updateDomain
      summary: Update domain settings
      description: |
        Update a verified domain's settings. Only verified domains can be
        updated. Per-domain spam thresholds require a Pro plan.
      tags: [Domains]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateDomainInput'
      responses:
        '200':
          description: Updated domain
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/VerifiedDomain'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

    delete:
      operationId: deleteDomain
      summary: Delete a domain
      description: Deletes a verified or unverified domain claim.
      tags: [Domains]
      responses:
        '200':
          $ref: '#/components/responses/Deleted'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /domains/{id}/verify:
    parameters:
      - $ref: '#/components/parameters/ResourceId'

    post:
      operationId: verifyDomain
      summary: Verify domain ownership
      description: |
        Checks DNS records (MX and TXT) to verify domain ownership.
        On success, the domain is promoted from unverified to verified.
        On failure, returns which checks passed and which failed.
      tags: [Domains]
      responses:
        '200':
          description: Verification result
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/DomainVerifyResult'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  # ---------------------------------------------------------------------------
  # Emails
  # ---------------------------------------------------------------------------
  /emails:
    get:
      operationId: listEmails
      summary: List inbound emails
      description: |
        Returns a paginated list of INBOUND emails received at your
        verified domains. Outbound messages sent via /send-mail are
        not included; this endpoint is the inbox view, not a
        unified send/receive history.

        Supports filtering by domain, status, date range, and
        free-text search across subject, sender, and recipient
        fields.

        For a compact text-table summary of the most recent N
        inbounds (no filters, no cursor pagination), the CLI ships
        `primitive emails:latest` as a one-line-per-email shortcut.
        It's TTY-aware so id columns are full UUIDs when piped, and
        a `--json` flag returns the same envelope this endpoint
        does. Use whichever fits the call site.
      tags: [Emails]
      parameters:
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Limit'
        - name: domain_id
          in: query
          schema:
            type: string
            format: uuid
          description: Filter by domain ID
        - name: status
          in: query
          schema:
            $ref: '#/components/schemas/EmailStatus'
          description: |
            Filter inbound rows by lifecycle status. See `EmailStatus`
            for what each value means. Note that the webhook delivery
            state is a SEPARATE lifecycle on the same row; filter by
            `webhook_status` semantics is not currently supported on
            this endpoint.
        - name: search
          in: query
          schema:
            type: string
            maxLength: 500
          description: Search subject, sender, and recipient (case-insensitive)
        - name: date_from
          in: query
          schema:
            type: string
            format: date-time
          description: Filter emails created on or after this timestamp
        - name: date_to
          in: query
          schema:
            type: string
            format: date-time
          description: Filter emails created on or before this timestamp
      responses:
        '200':
          description: Paginated list of emails
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ListEnvelope'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/EmailSummary'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /emails/{id}:
    parameters:
      - $ref: '#/components/parameters/ResourceId'

    get:
      operationId: getEmail
      summary: Get inbound email by id
      description: |
        Returns the full record for an inbound email received at one
        of your verified domains, including the parsed text and HTML
        bodies, threading metadata, SMTP envelope detail, webhook
        delivery state, and a `replies` array for any outbound sends
        recorded as replies to this inbound.

        For listing inbound emails (with cursor pagination, status
        and date filters, and free-text search), use
        `/emails`. Outbound (sent) email records are NOT returned
        here; use `/sent-emails/{id}` for those.

        The response carries four sender-shaped fields whose
        meanings overlap. `from_email` is the canonical "who sent
        this" field for most use cases (parsed bare address from
        the `From:` header, with a `sender` fallback). `from_header`
        is the raw header including any display name. `sender` and
        `smtp_mail_from` both carry the SMTP envelope MAIL FROM
        (return-path) and are equal by construction; `sender` is
        the older field name retained for compatibility. See
        `primitive describe emails:get-email | jq '.responseSchema.properties'`
        for per-field detail.
      tags: [Emails]
      responses:
        '200':
          description: Email details
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/EmailDetail'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

    delete:
      operationId: deleteEmail
      summary: Delete an email
      tags: [Emails]
      responses:
        '200':
          $ref: '#/components/responses/Deleted'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /emails/{id}/raw:
    parameters:
      - $ref: '#/components/parameters/ResourceId'

    get:
      operationId: downloadRawEmail
      summary: Download raw email
      description: |
        Downloads the raw RFC 822 email file (.eml). Authenticates via
        a signed download token (provided in webhook payloads) or a
        valid session.
      tags: [Emails]
      security:
        - BearerAuth: []
        - DownloadToken: []
      parameters:
        - name: token
          in: query
          schema:
            type: string
          description: Signed download token from webhook payload
      responses:
        '200':
          description: Raw email file
          content:
            message/rfc822:
              schema:
                type: string
                format: binary
          headers:
            Content-Disposition:
              schema:
                type: string
                example: 'attachment; filename="email-id.eml"'
            X-Content-SHA256:
              schema:
                type: string
              description: SHA-256 hex digest of the file
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /emails/{id}/attachments.tar.gz:
    parameters:
      - $ref: '#/components/parameters/ResourceId'

    get:
      operationId: downloadAttachments
      summary: Download email attachments
      description: |
        Downloads all attachments as a gzip-compressed tar archive.
        Authenticates via a signed download token (provided in webhook
        payloads) or a valid session.
      tags: [Emails]
      security:
        - BearerAuth: []
        - DownloadToken: []
      parameters:
        - name: token
          in: query
          schema:
            type: string
          description: Signed download token from webhook payload
      responses:
        '200':
          description: Attachments archive
          content:
            application/gzip:
              schema:
                type: string
                format: binary
          headers:
            Content-Disposition:
              schema:
                type: string
                example: 'attachment; filename="email-id_attachments.tar.gz"'
            X-Content-SHA256:
              schema:
                type: string
              description: SHA-256 hex digest of the archive
            X-Attachment-Count:
              schema:
                type: string
              description: Number of attachments in the archive
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /emails/{id}/reply:
    parameters:
      - $ref: '#/components/parameters/ResourceId'

    post:
      operationId: replyToEmail
      summary: Reply to an inbound email
      description: |
        Sends an outbound reply to the inbound email identified by `id`.
        Threading headers (`In-Reply-To`, `References`), recipient
        derivation (Reply-To, then From, then bare sender), and the
        `Re:` subject prefix are all derived server-side from the
        stored inbound row. The request body carries only the message
        body and optional `wait` flag; passing any header or recipient
        override is rejected by the schema (`additionalProperties:
        false`).

        Forwards through the same gates as `/send-mail`: the response
        status, error envelope, and `idempotent_replay` flag mirror
        the send-mail contract verbatim.
      tags: [Sending]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReplyInput'
      responses:
        '200':
          description: Outbound relay result
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/SendMailResult'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          description: |
            Inbound is not repliable: the row exists but lacks a
            `message_id` (no thread anchor) or a `recipient` (cannot
            derive the From address).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                success: false
                error:
                  code: inbound_not_repliable
                  message: inbound has no Message-ID; cannot anchor a reply thread
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
        '502':
          $ref: '#/components/responses/BadGateway'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'

  /emails/{id}/replay:
    parameters:
      - $ref: '#/components/parameters/ResourceId'

    post:
      operationId: replayEmailWebhooks
      summary: Replay email webhooks
      description: |
        Re-delivers the webhook payload for this email to all active
        endpoints matching the email's domain. Rate limited per-email
        (short cooldown between successive replays of the same email)
        and per-org (burst + sustained windows), sharing an org-wide
        budget with delivery replays.
      tags: [Emails]
      responses:
        '200':
          description: Replay result
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/ReplayResult'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'

  /emails/{id}/discard-content:
    parameters:
      - $ref: '#/components/parameters/ResourceId'

    post:
      operationId: discardEmailContent
      summary: Discard email content
      description: |
        Permanently deletes the email's raw bytes, parsed body (text + HTML),
        and attachments while preserving metadata (sender, recipient,
        subject, timestamps, hashes, attachment manifest) for audit logs.
        Idempotent: a second call returns success with
        `already_discarded: true` and does no work.

        **Gated** on the customer's discard-content opt-in (managed in the
        dashboard at Settings > Webhooks). When the toggle is off, this
        endpoint returns `403` with code `discard_not_enabled` and a
        message pointing the human at the dashboard. There is intentionally
        no API to flip this toggle — opting in to a destructive,
        non-reversible operation must be a deliberate human click in the
        UI.
      tags: [Emails]
      responses:
        '200':
          description: Discard result
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/DiscardContentResult'
                    required: [data]
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'

  # ---------------------------------------------------------------------------
  # Endpoints
  # ---------------------------------------------------------------------------
  /endpoints:
    get:
      operationId: listEndpoints
      summary: List webhook endpoints
      description: Returns all active (non-deleted) webhook endpoints.
      tags: [Endpoints]
      responses:
        '200':
          description: List of endpoints
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/Endpoint'
        '401':
          $ref: '#/components/responses/Unauthorized'

    post:
      operationId: createEndpoint
      summary: Create a webhook endpoint
      description: |
        Creates a new webhook endpoint. If a deactivated endpoint
        with the same URL and domain exists, it is reactivated
        instead. Subject to plan limits on the number of active
        endpoints.

        **Signing is account-scoped, not per-endpoint.** This call
        does not return any signing material; every endpoint on the
        account uses the same webhook secret, fetched via
        `GET /account/webhook-secret`. See the API-level "Webhook
        signing" section for the full wire format (header name,
        signed string, hash algo, secret format, tolerance) and a
        language-agnostic verification recipe.

        After creating the endpoint, fire a test delivery against
        it via `POST /endpoints/{id}/test` to confirm your verifier
        accepts the signature.
      tags: [Endpoints]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateEndpointInput'
      responses:
        '201':
          description: Endpoint created (or reactivated)
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/Endpoint'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /endpoints/{id}:
    parameters:
      - $ref: '#/components/parameters/ResourceId'

    patch:
      operationId: updateEndpoint
      summary: Update a webhook endpoint
      description: |
        Updates an active webhook endpoint. If the URL is changed, the old
        endpoint is deactivated and a new one is created (or an existing
        deactivated endpoint with the new URL is reactivated).
      tags: [Endpoints]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateEndpointInput'
      responses:
        '200':
          description: Updated endpoint
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/Endpoint'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

    delete:
      operationId: deleteEndpoint
      summary: Delete a webhook endpoint
      description: |
        Soft-deletes a webhook endpoint. The endpoint will no longer
        receive webhook deliveries.
      tags: [Endpoints]
      responses:
        '200':
          $ref: '#/components/responses/Deleted'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /endpoints/{id}/test:
    parameters:
      - $ref: '#/components/parameters/ResourceId'

    post:
      operationId: testEndpoint
      summary: Send a test webhook
      description: |
        Sends a sample `email.received` event to the endpoint. The request
        includes SSRF protection (private IP rejection and DNS pinning).
        Rate limited to 4 per minute and 30 per hour (non-exempt).
        Successful deliveries and verified-domain endpoints are exempt
        from the rate limit.
      tags: [Endpoints]
      responses:
        '200':
          description: Test result
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/TestResult'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'

  # ---------------------------------------------------------------------------
  # Filters
  # ---------------------------------------------------------------------------
  /filters:
    get:
      operationId: listFilters
      summary: List filter rules
      description: Returns all whitelist and blocklist filter rules.
      tags: [Filters]
      responses:
        '200':
          description: List of filters
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/Filter'
        '401':
          $ref: '#/components/responses/Unauthorized'

    post:
      operationId: createFilter
      summary: Create a filter rule
      description: |
        Creates a new whitelist or blocklist filter. Per-domain filters
        require a Pro plan. Patterns are stored as lowercase.
      tags: [Filters]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateFilterInput'
      responses:
        '201':
          description: Filter created
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/Filter'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /filters/{id}:
    parameters:
      - $ref: '#/components/parameters/ResourceId'

    patch:
      operationId: updateFilter
      summary: Update a filter rule
      description: Toggle a filter's enabled state.
      tags: [Filters]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateFilterInput'
      responses:
        '200':
          description: Updated filter
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/Filter'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

    delete:
      operationId: deleteFilter
      summary: Delete a filter rule
      tags: [Filters]
      responses:
        '200':
          $ref: '#/components/responses/Deleted'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  # ---------------------------------------------------------------------------
  # Webhook Deliveries
  # ---------------------------------------------------------------------------
  /webhooks/deliveries:
    get:
      operationId: listDeliveries
      summary: List webhook deliveries
      description: |
        Returns a paginated list of webhook delivery attempts. Each delivery
        includes a nested `email` object with sender, recipient, and subject.
      tags: [Webhook Deliveries]
      parameters:
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Limit'
        - name: email_id
          in: query
          schema:
            type: string
            format: uuid
          description: Filter by email ID
        - name: status
          in: query
          schema:
            type: string
            enum: [pending, delivered, header_confirmed, failed]
          description: Filter by delivery status
        - name: date_from
          in: query
          schema:
            type: string
            format: date-time
          description: Filter deliveries created on or after this timestamp
        - name: date_to
          in: query
          schema:
            type: string
            format: date-time
          description: Filter deliveries created on or before this timestamp
      responses:
        '200':
          description: Paginated list of deliveries
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ListEnvelope'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/DeliverySummary'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /webhooks/deliveries/{id}/replay:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          pattern: '^\d+$'
        description: Delivery ID (numeric)

    post:
      operationId: replayDelivery
      summary: Replay a webhook delivery
      description: |
        Re-sends the stored webhook payload from a previous delivery attempt.
        If the original endpoint is still active, it is targeted. If the
        original endpoint was deleted, the oldest active endpoint is used.
        Deactivated endpoints cannot be replayed to. Rate limited per-org,
        sharing an org-wide budget with email replays.
      tags: [Webhook Deliveries]
      responses:
        '200':
          description: Replay result
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/ReplayResult'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'

  # ---------------------------------------------------------------------------
  # Sending
  # ---------------------------------------------------------------------------
  /send-permissions:
    get:
      operationId: getSendPermissions
      summary: List send-permission rules
      description: |
        Returns a flat list of rules describing every recipient the
        caller may send to. Each rule has a `type`, a kind-specific
        payload, and a human-readable `description`. If any rule
        matches the recipient, /send-mail will accept the send under
        the recipient-scope check.

        The endpoint is the answer to "where can I send" without
        exposing internal entitlement names. Agents that don't
        recognize a `type` can still read the `description` prose
        and act on it.

        Rule kinds, ordered broadest-first so an agent can stop
        scanning at the first match:

          1. `any_recipient` (one entry, only when the org can send
             anywhere): every other rule below it is redundant.
          2. `managed_zone` (always emitted, one per Primitive-managed
             zone): sends to any address at *.primitive.email or
             *.email.works always succeed; no entitlement required.
          3. `your_domain` (one per active verified outbound domain
             owned by the org): sends to that domain are approved.
          4. `address` (one per address that has authenticated
             inbound mail to the org, capped at `meta.address_cap`):
             sends to that exact address are approved.

        The list is informational, not an authorization check.
        /send-mail remains the source of truth on whether an
        individual send will succeed (it also enforces the
        from-address and the `send_mail` entitlement, which are
        not recipient-scope concerns and are not represented here).
      tags: [Sending]
      responses:
        '200':
          description: Send-permission rules for the caller's org
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/SendPermissionRule'
                      meta:
                        $ref: '#/components/schemas/SendPermissionsMeta'
                    required: [data, meta]
        '401':
          $ref: '#/components/responses/Unauthorized'

  /send-mail:
    post:
      operationId: sendEmail
      summary: Send outbound email
      description: |
        Sends an outbound email through Primitive's outbound relay. By default
        the request returns once the relay accepts the message for delivery.
        Set `wait: true` to wait for the first downstream SMTP delivery outcome.
      tags: [Sending]
      parameters:
        - name: Idempotency-Key
          in: header
          required: false
          schema:
            type: string
            minLength: 1
            maxLength: 255
            pattern: '^[\x21-\x7E]+$'
          description: |
            Optional customer-supplied idempotency key. If omitted, Primitive
            derives one from the canonical request payload and echoes the
            effective value in the `Idempotency-Key` response header.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SendMailInput'
      responses:
        '200':
          description: Outbound relay result
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/SendMailResult'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
        '502':
          $ref: '#/components/responses/BadGateway'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'

  /sent-emails:
    get:
      operationId: listSentEmails
      summary: List outbound sent emails
      description: |
        Returns a paginated list of OUTBOUND emails the caller's
        org has sent via /send-mail (and /emails/{id}/reply, which
        forwards through /send-mail). Includes every recorded
        attempt, including gate-denied attempts that the agent
        never called and rows still in `queued` state.

        For inbound mail received at your verified domains, see
        /emails. There is no unified send/receive history endpoint;
        the two surfaces are intentionally separate because the
        underlying tables, statuses, and lifecycle differ.

        Email bodies (`body_text`, `body_html`) are NOT included on
        list rows so a 50-row page can't balloon into a multi-MB
        response when sends are near the 5MB body cap. Use
        /sent-emails/{id} to fetch a single row with bodies, or
        cross-reference by `client_idempotency_key` if the caller
        already has the body locally.
      tags: [Sending]
      parameters:
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Limit'
        - name: status
          in: query
          schema:
            $ref: '#/components/schemas/SentEmailStatus'
          description: |
            Filter to rows in this status. Useful for polling
            queued rows that haven't transitioned, auditing
            gate-denied attempts, or listing only successful
            deliveries.
        - name: request_id
          in: query
          schema:
            type: string
            format: uuid
          description: |
            Filter to the row matching a specific server-issued
            `request_id`. The /send-mail response surfaces
            `request_id` on every send; this lookup lets the
            caller find the historical row for a given live call
            without remembering its `id`.
        - name: idempotency_key
          in: query
          schema:
            type: string
            minLength: 1
            maxLength: 255
          description: |
            Filter to rows with the given `client_idempotency_key`.
            Multiple rows can share a key (a retry that hit the
            idempotent-replay path returns the same row, but a
            retry with a DIFFERENT canonical payload under the
            same key is rejected by /send-mail before the row is
            written, so duplicates are bounded).
        - name: date_from
          in: query
          schema:
            type: string
            format: date-time
          description: Inclusive lower bound on `created_at`.
        - name: date_to
          in: query
          schema:
            type: string
            format: date-time
          description: Inclusive upper bound on `created_at`.
      responses:
        '200':
          description: Page of sent-email summaries
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ListEnvelope'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/SentEmailSummary'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /sent-emails/{id}:
    get:
      operationId: getSentEmail
      summary: Get a sent email by id
      description: |
        Returns the full sent-email record by id, including
        `body_text` and `body_html` (omitted from the listing
        endpoint to keep paginated responses small). Use this when
        diagnosing a specific send, e.g. inspecting the receiver's
        SMTP response on a `bounced` row or pulling the gate
        denial detail on a `gate_denied` row.
      tags: [Sending]
      parameters:
        - $ref: '#/components/parameters/ResourceId'
      responses:
        '200':
          description: Sent-email detail
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/SentEmailDetail'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

# =============================================================================
# Components
# =============================================================================
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: 'API key with `prim_` prefix: `Authorization: Bearer prim_<key>`'

    DownloadToken:
      type: apiKey
      in: query
      name: token
      description: Signed download token provided in webhook payloads

  parameters:
    ResourceId:
      name: id
      in: path
      required: true
      schema:
        type: string
        format: uuid
      description: Resource UUID

    Cursor:
      name: cursor
      in: query
      schema:
        type: string
      description: |
        Pagination cursor from a previous response's `meta.cursor` field.
        Format: `{ISO-datetime}|{id}`

    Limit:
      name: limit
      in: query
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 50
      description: Number of results per page

  responses:
    Unauthorized:
      description: Invalid or missing API key
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            success: false
            error:
              code: unauthorized
              message: Invalid or missing API key

    Forbidden:
      description: Authenticated caller lacks permission for the operation
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            success: false
            error:
              code: forbidden
              message: Insufficient permissions

    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            success: false
            error:
              code: not_found
              message: Resource not found

    ValidationError:
      description: Invalid request parameters
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            success: false
            error:
              code: validation_error
              message: Invalid domain format

    RateLimited:
      description: Rate limit exceeded
      headers:
        Retry-After:
          schema:
            type: integer
          description: Seconds to wait before retrying
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            success: false
            error:
              code: rate_limit_exceeded
              message: Rate limit exceeded

    BadGateway:
      description: Primitive could not complete the downstream SMTP request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            success: false
            error:
              code: outbound_unreachable
              message: Outbound SMTP service request failed

    ServiceUnavailable:
      description: Primitive is temporarily unable to process the request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            success: false
            error:
              code: outbound_capacity_exhausted
              message: Outbound capacity is temporarily exhausted

    InternalError:
      description: Primitive encountered an internal error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            success: false
            error:
              code: internal_error
              message: Internal server error

    Deleted:
      description: Resource deleted
      content:
        application/json:
          schema:
            allOf:
              - $ref: '#/components/schemas/SuccessEnvelope'
              - type: object
                properties:
                  data:
                    type: object
                    properties:
                      deleted:
                        type: boolean
                        const: true
                    required: [deleted]

  schemas:
    # -------------------------------------------------------------------------
    # Envelopes
    # -------------------------------------------------------------------------
    SuccessEnvelope:
      type: object
      properties:
        success:
          type: boolean
          const: true
      required: [success, data]

    ListEnvelope:
      type: object
      properties:
        success:
          type: boolean
          const: true
        meta:
          $ref: '#/components/schemas/PaginationMeta'
      required: [success, data, meta]

    PaginationMeta:
      type: object
      properties:
        total:
          type: integer
          description: Total number of matching records
        limit:
          type: integer
          description: Page size used for this request
        cursor:
          type: [string, 'null']
          description: Cursor for the next page, or null if no more results
      required: [total, limit, cursor]

    ErrorResponse:
      type: object
      properties:
        success:
          type: boolean
          const: false
        error:
          type: object
          properties:
            code:
              type: string
              enum:
                - unauthorized
                - forbidden
                - not_found
                - validation_error
                - rate_limit_exceeded
                - internal_error
                - conflict
                - mx_conflict
                - outbound_disabled
                - cannot_send_from_domain
                - recipient_not_allowed
                - outbound_key_missing
                - outbound_unreachable
                - outbound_key_invalid
                - outbound_capacity_exhausted
                - outbound_response_malformed
                - outbound_relay_failed
                - discard_not_enabled
                - inbound_not_repliable
            message:
              type: string
            details:
              type: object
              description: |
                Optional structured data that callers can inspect to recover
                from the error. The fields present depend on `code`. Additional
                keys may be added over time without a major-version bump.
              additionalProperties: true
              properties:
                mx_conflict:
                  type: object
                  description: Present when `code == mx_conflict`.
                  required: [provider_name, suggested_subdomain]
                  properties:
                    provider_name:
                      type: string
                      description: Human-readable name of the detected mailbox provider (e.g. "Google Workspace").
                    suggested_subdomain:
                      type: string
                      description: Subdomain to try instead (e.g. "mail" for `mail.example.com`).
                required_entitlements:
                  type: array
                  items:
                    type: string
                  description: Entitlements that would allow a denied send when no recipient-scope gate was granted.
                sent_email_id:
                  type: string
                  description: ID of the persisted sent-email attempt associated with the error.
                content_hash:
                  type: string
                  description: Content hash of the original request on idempotency cache-hit errors.
                client_idempotency_key:
                  type: string
                  description: Effective idempotency key associated with the original request.
            gates:
              type: array
              items:
                $ref: '#/components/schemas/GateDenial'
              description: Structured per-gate denial detail for recipient-scope send-mail failures.
            request_id:
              type: string
              description: Server-issued request identifier for support and tracing.
          required: [code, message]
      required: [success, error]

    GateDenial:
      type: object
      properties:
        name:
          type: string
          enum: [send_to_confirmed_domains, send_to_known_addresses]
          description: Public recipient-scope gate name that denied the send.
        reason:
          type: string
          enum: [domain_not_confirmed, recipient_unauthenticated, recipient_not_known]
          description: Stable machine-readable denial reason.
        message:
          type: string
          description: Human-readable explanation of the gate denial.
        subject:
          type: string
          description: Domain or address the gate evaluated.
        fix:
          $ref: '#/components/schemas/GateFix'
        docs_url:
          type: string
          description: Public docs URL with more context.
      required: [name, reason, message, subject]

    GateFix:
      type: object
      properties:
        action:
          type: string
          enum: [confirm_domain, sender_must_fix_authentication, wait_for_inbound]
          description: Suggested next action for the caller.
        subject:
          type: string
          description: Entity the action applies to.
      required: [action, subject]

    # -------------------------------------------------------------------------
    # Account
    # -------------------------------------------------------------------------
    Account:
      type: object
      properties:
        id:
          type: string
          format: uuid
        email:
          type: string
        plan:
          type: string
        created_at:
          type: string
          format: date-time
        onboarding_completed:
          type: boolean
        onboarding_step:
          type: [string, 'null']
        stripe_subscription_status:
          type: [string, 'null']
        subscription_current_period_end:
          type: [string, 'null']
          format: date-time
        subscription_cancel_at_period_end:
          type: [boolean, 'null']
        spam_threshold:
          type: [number, 'null']
          minimum: 0
          maximum: 15
        discard_content_on_webhook_confirmed:
          type: boolean
        webhook_secret_rotated_at:
          type: [string, 'null']
          format: date-time
      required:
        - id
        - email
        - plan
        - created_at
        - discard_content_on_webhook_confirmed

    AccountUpdated:
      type: object
      properties:
        id:
          type: string
          format: uuid
        email:
          type: string
        plan:
          type: string
        spam_threshold:
          type: [number, 'null']
          minimum: 0
          maximum: 15
        discard_content_on_webhook_confirmed:
          type: boolean
      required: [id, email, plan, discard_content_on_webhook_confirmed]

    UpdateAccountInput:
      type: object
      additionalProperties: false
      properties:
        spam_threshold:
          type: [number, 'null']
          minimum: 0
          maximum: 15
          description: Global spam score threshold (0-15). Emails scoring above this are rejected. Set to null to disable.
        discard_content_on_webhook_confirmed:
          type: boolean
          description: Whether to discard email content after the webhook endpoint confirms receipt.
      minProperties: 1

    StorageStats:
      type: object
      properties:
        used_bytes:
          type: integer
          description: Total storage used in bytes
        used_kb:
          type: number
          description: Total storage used in kilobytes (1 decimal)
        used_mb:
          type: number
          description: Total storage used in megabytes (2 decimals)
        quota_mb:
          type: number
          description: Storage quota in megabytes (based on plan)
        percentage:
          type: number
          description: Percentage of quota used (1 decimal)
        emails_count:
          type: integer
          description: Number of stored emails
      required: [used_bytes, used_kb, used_mb, quota_mb, percentage, emails_count]

    WebhookSecret:
      type: object
      properties:
        secret:
          type: string
          description: The webhook signing secret value
      required: [secret]

    # -------------------------------------------------------------------------
    # Domains
    # -------------------------------------------------------------------------
    Domain:
      description: |
        A domain can be either verified or unverified. Verified domains have
        `is_active` and `spam_threshold` fields. Unverified domains have a
        `verification_token` for DNS verification.
      oneOf:
        - $ref: '#/components/schemas/VerifiedDomain'
        - $ref: '#/components/schemas/UnverifiedDomain'

    VerifiedDomain:
      type: object
      properties:
        id:
          type: string
          format: uuid
        org_id:
          type: string
          format: uuid
        domain:
          type: string
        verified:
          type: boolean
          const: true
        is_active:
          type: boolean
        spam_threshold:
          type: [number, 'null']
          minimum: 0
          maximum: 15
        verification_token:
          type: [string, 'null']
        created_at:
          type: string
          format: date-time
      required: [id, org_id, domain, verified, is_active, created_at]

    UnverifiedDomain:
      type: object
      properties:
        id:
          type: string
          format: uuid
        org_id:
          type: string
          format: uuid
        domain:
          type: string
        verified:
          type: boolean
          const: false
        verification_token:
          type: string
          description: Add this value as a TXT record to verify ownership
        created_at:
          type: string
          format: date-time
      required: [id, org_id, domain, verified, verification_token, created_at]

    AddDomainInput:
      type: object
      additionalProperties: false
      properties:
        domain:
          type: string
          minLength: 1
          maxLength: 253
          description: The domain name to claim (e.g. "example.com")
      required: [domain]

    UpdateDomainInput:
      type: object
      additionalProperties: false
      properties:
        is_active:
          type: boolean
          description: Whether the domain accepts incoming emails
        spam_threshold:
          type: [number, 'null']
          minimum: 0
          maximum: 15
          description: Per-domain spam threshold override (Pro plan required)
      minProperties: 1

    DomainVerifyResult:
      oneOf:
        - type: object
          properties:
            verified:
              type: boolean
              const: true
          required: [verified]
        - type: object
          properties:
            verified:
              type: boolean
              const: false
            mxFound:
              type: boolean
              description: Whether MX records point to Primitive
            txtFound:
              type: boolean
              description: Whether the TXT verification record was found
            error:
              type: string
              description: Human-readable verification failure reason
          required: [verified, mxFound, txtFound, error]

    # -------------------------------------------------------------------------
    # Emails
    # -------------------------------------------------------------------------
    EmailSummary:
      type: object
      properties:
        id:
          type: string
          format: uuid
        message_id:
          type: [string, 'null']
        domain_id:
          type: [string, 'null']
          format: uuid
        org_id:
          type: [string, 'null']
          format: uuid
        status:
          $ref: '#/components/schemas/EmailStatus'
        sender:
          type: string
          description: |
            SMTP envelope sender (return-path) the inbound mail server
            accepted. For most legitimate mail this equals the bare
            address in the From header; for mailing lists, bounce
            handlers, and forwarders it is typically the bounce address
            rather than the human-visible sender.

            For the parsed From-header value (with display name handling
            and a sender-fallback when the header is unparseable), GET
            the email by id and use `from_email`.
        recipient:
          type: string
        subject:
          type: [string, 'null']
        domain:
          type: string
        spam_score:
          type: [number, 'null']
        created_at:
          type: string
          format: date-time
        received_at:
          type: string
          format: date-time
        raw_size_bytes:
          type: [integer, 'null']
        webhook_status:
          $ref: '#/components/schemas/EmailWebhookStatus'
        webhook_attempt_count:
          type: integer
      required:
        - id
        - status
        - sender
        - recipient
        - domain
        - created_at
        - received_at
        - webhook_attempt_count

    EmailDetail:
      type: object
      properties:
        id:
          type: string
          format: uuid
        message_id:
          type: [string, 'null']
        domain_id:
          type: [string, 'null']
          format: uuid
        org_id:
          type: [string, 'null']
          format: uuid
        sender:
          type: string
          description: |
            SMTP envelope sender (return-path) the inbound mail server
            accepted. Same value as `smtp_mail_from`; both fields exist
            so protocol-aware tooling can use whichever name it expects.

            For most legitimate mail this equals `from_email`; for
            mailing lists, bounce handlers, and forwarders it is
            typically the bounce-handling address rather than the
            human-visible sender.

            **For the canonical "who sent this email" value, use
            `from_email`.**
        recipient:
          type: string
        subject:
          type: [string, 'null']
        body_text:
          type: [string, 'null']
          description: Plain-text body parsed from the inbound MIME, matching the `email.parsed.body_text` field on the webhook payload. Null when the message had no text part or parsing failed.
        body_html:
          type: [string, 'null']
          description: HTML body parsed from the inbound MIME, matching the `email.parsed.body_html` field on the webhook payload. Null when the message had no HTML part or parsing failed.
        status:
          $ref: '#/components/schemas/EmailStatus'
        domain:
          type: string
        spam_score:
          type: [number, 'null']
        raw_size_bytes:
          type: [integer, 'null']
        raw_sha256:
          type: [string, 'null']
        created_at:
          type: string
          format: date-time
        received_at:
          type: string
          format: date-time
        rejection_reason:
          type: [string, 'null']
        webhook_status:
          $ref: '#/components/schemas/EmailWebhookStatus'
        webhook_attempt_count:
          type: integer
        webhook_last_attempt_at:
          type: [string, 'null']
          format: date-time
        webhook_last_status_code:
          type: [integer, 'null']
        webhook_last_error:
          type: [string, 'null']
        webhook_fired_at:
          type: [string, 'null']
          format: date-time
        smtp_helo:
          type: [string, 'null']
        smtp_mail_from:
          type: [string, 'null']
          description: |
            SMTP envelope MAIL FROM (return-path), as accepted by the
            inbound mail server. Same value as `sender`; both fields
            exist so protocol-aware tooling can use whichever name it
            expects.

            For the canonical "who sent this email" value (display name
            stripped, From-header preferred), use `from_email`.
        smtp_rcpt_to:
          type: [array, 'null']
          items:
            type: string
        from_header:
          type: [string, 'null']
          description: |
            Raw `From:` header from the message body, including any
            display name (e.g. `"Alice Example" <alice@example.com>`).
            Use this when you need the display name for rendering.

            For the bare email address (display name stripped), use
            `from_email`.
        content_discarded_at:
          type: [string, 'null']
          format: date-time
        content_discarded_by_delivery_id:
          type: [string, 'null']
        from_email:
          type: string
          description: |
            Bare email address parsed from the `From:` header, with
            display name stripped (e.g. `alice@example.com`). Falls
            back to `sender` (the SMTP envelope MAIL FROM) when the
            `From:` header cannot be parsed.

            **This is the canonical "who sent this email" field for
            most use cases**, including comparing against allowlists,
            routing replies, or displaying the sender to a user. Use
            `from_header` when you specifically need the display name,
            or `sender`/`smtp_mail_from` when you need the SMTP
            envelope value (e.g. to follow a bounce).
        to_email:
          type: string
          description: Parsed to address (same as recipient)
        from_known_address:
          type: boolean
          description: |
            True when the inbound's sender address has a matching grant
            in the org's known-send-addresses list. Advisory: a true
            value does not by itself guarantee that a reply will be
            accepted by send-mail's gates; the per-send check at send
            time remains authoritative.
        replies:
          type: array
          description: |
            Sent emails recorded as replies to this inbound, in send
            order (ascending). Populated when a customer's send-mail
            request carries an `in_reply_to` Message-ID that matches
            this inbound's `message_id` in the same org. Includes
            attempts that were gate-denied, so the array reflects every
            recorded reply attempt regardless of outcome.
          items:
            $ref: '#/components/schemas/EmailDetailReply'
      required:
        - id
        - sender
        - recipient
        - status
        - domain
        - created_at
        - received_at
        - webhook_attempt_count
        - from_email
        - to_email
        - replies

    EmailDetailReply:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: Sent-email row id.
        status:
          $ref: '#/components/schemas/SentEmailStatus'
        to_address:
          type: string
          description: Recipient address as recorded on the sent_emails row.
        subject:
          type: [string, 'null']
        created_at:
          type: string
          format: date-time
        queue_id:
          type: [string, 'null']
          description: Outbound relay queue identifier when available.
      required: [id, status, to_address, created_at]

    # -------------------------------------------------------------------------
    # Sending
    # -------------------------------------------------------------------------
    SendMailInput:
      type: object
      additionalProperties: false
      properties:
        from:
          type: string
          minLength: 3
          maxLength: 998
          description: RFC 5322 From header. The sender domain must be a verified outbound domain for your organization.
        to:
          type: string
          minLength: 3
          maxLength: 320
          description: Recipient address. Recipient eligibility depends on your account's outbound entitlements.
        subject:
          type: string
          minLength: 1
          maxLength: 998
          description: Subject line for the outbound message
        body_text:
          type: string
          description: Plain-text message body. At least one of body_text or body_html is required. The combined UTF-8 byte length of body_text and body_html must be at most 262144 bytes.
        body_html:
          type: string
          description: HTML message body. At least one of body_text or body_html is required. The combined UTF-8 byte length of body_text and body_html must be at most 262144 bytes.
        in_reply_to:
          type: string
          minLength: 1
          maxLength: 998
          pattern: '^[^\x00-\x1F\x7F]+$'
          description: Message-ID of the direct parent email when sending a threaded reply.
        references:
          type: array
          maxItems: 100
          description: Full ordered message-id chain for the thread.
          items:
            type: string
            minLength: 1
            maxLength: 998
            pattern: '^[^\x00-\x1F\x7F]+$'
        wait:
          type: boolean
          description: When true, wait for the first downstream SMTP delivery outcome before returning.
        wait_timeout_ms:
          type: integer
          minimum: 1000
          maximum: 30000
          description: Maximum time to wait for a delivery outcome when wait is true. Defaults to 30000.
      required: [from, to, subject]

    EmailStatus:
      type: string
      description: |
        Lifecycle status of an INBOUND email (a row in the `emails`
        table). Distinct from `SentEmailStatus`, which describes
        the OUTBOUND lifecycle (the `sent_emails` table) and uses
        a different vocabulary because the lifecycles differ.
        Possible values:

          - `pending`: the row was inserted at ingestion (mx_main)
            and has not yet completed the spam / filter / auth
            pipeline. Body and parsed fields are present; webhook
            delivery is not yet scheduled. Most rows transition out
            of `pending` within seconds.
          - `accepted`: the inbound passed the policy gates and is
            queued for webhook delivery. The `webhook_status` field
            tracks the separate webhook-delivery lifecycle from
            this point.
          - `completed`: terminal success. Webhook delivery
            attempted and acknowledged by every active endpoint, OR
            no endpoints are configured, so the row is durably
            archived.
          - `rejected`: terminal failure at ingestion (spam, blocked
            sender, filter rule, malformed). The body and metadata
            are stored for auditing but no webhook fires and the
            row is not repliable.

        See also `webhook_status` (separate enum tracking the
        webhook-delivery state machine) and `SentEmailStatus` (the
        outbound vocabulary).
      enum: [pending, accepted, completed, rejected]

    EmailWebhookStatus:
      type: [string, 'null']
      description: |
        Webhook-delivery state for an inbound email. Tracks a
        SEPARATE lifecycle from the email's `status` field; the
        same row carries both. Possible values:

          - `pending`: ingestion is past `pending` (the email itself
            is `accepted`) but the webhook fan-out has not yet
            started for this row.
          - `in_flight`: at least one delivery attempt is in flight.
          - `fired`: terminal success. Every active endpoint
            acknowledged the delivery (or accepted it after retries).
          - `failed`: terminal partial-failure. At least one endpoint
            exhausted its retry budget; some endpoints may still
            have succeeded.
          - `exhausted`: terminal failure. Every endpoint exhausted
            its retry budget without success.
          - `null`: no endpoints configured, so no webhook lifecycle
            applies.

        Note that the value `pending` here does NOT mean the email
        is `pending`; it means the email is past ingestion but
        webhook delivery has not yet begun. Two overlapping uses
        of the word `pending` for distinct lifecycle phases.
      enum: [pending, in_flight, fired, failed, exhausted, null]

    SentEmailStatus:
      type: string
      description: |
        Lifecycle status of a sent_emails row. Possible values:

          - `queued`: pre-call INSERT; the outbound agent has not
            yet replied.
          - `submitted_to_agent`: agent accepted; `queue_id` is set.
          - `agent_failed`: agent rejected; `error_code` and
            `error_message` carry the reason.
          - `gate_denied`: a recipient-scope gate denied the send;
            the agent was never called. The `gates` array carries
            the denial detail. /send-mail returns 403 in this case
            so callers see the denial synchronously; /sent-emails
            additionally records the row for historical lookup,
            which is when this status appears in a listing.
          - `unknown`: terminal indeterminate; the on-box log
            poller couldn't classify the receiver's response.
          - `delivered` / `bounced` / `deferred` / `wait_timeout`:
            terminal delivery outcomes (see DeliveryStatus).
      enum: [queued, submitted_to_agent, agent_failed, gate_denied, unknown, delivered, bounced, deferred, wait_timeout]

    DeliveryStatus:
      type: string
      description: |
        Narrower enum covering only the four terminal delivery
        outcomes returned to a synchronous `wait: true` send.

        On the SendMailResult shape, `delivery_status` is always
        equal to `status` whenever both are present (i.e. on
        terminal-state replays and live wait=true responses).
        The two fields exist so callers that want to type-narrow
        on "this is a delivery outcome" can pattern-match against
        the four-value enum without handling the broader
        SentEmailStatus value set (which also covers `queued`,
        `submitted_to_agent`, `agent_failed`, `gate_denied`,
        `unknown`).

        On async-mode and pre-terminal responses, `delivery_status`
        is absent and only `status` is populated. Use `status` if
        you want a single field that's always present.
      enum: [delivered, bounced, deferred, wait_timeout]

    SentEmailSummary:
      type: object
      description: |
        List-row projection of a sent-email record. Drops
        `body_text` and `body_html` to keep paginated responses
        small; fetch /sent-emails/{id} for the full record with
        bodies.
      properties:
        id:
          type: string
          format: uuid
        status:
          $ref: '#/components/schemas/SentEmailStatus'
        status_changed_at:
          type: string
          format: date-time
          description: |
            Timestamp of the most recent status transition.
            Polling clients should treat `status='queued'` AND
            `status_changed_at` older than 5 minutes as
            "stuck-queued" (the post-tx UPDATE failed and the
            actual delivery state is recoverable from on-box logs
            via `queue_id` when populated, or `request_id`).
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        client_idempotency_key:
          type: [string, 'null']
          description: |
            Effective idempotency key used for this send. If the
            caller passed the `Idempotency-Key` header, this is
            that value; otherwise it's a server-derived hash of
            the canonical request payload.
        content_hash:
          type: string
          description: Stable hash of the canonical send payload.
        from_header:
          type: string
          description: |
            Raw `From:` header as sent on the wire, including any
            display name (e.g. `"Acme Support" <agent@acme.test>`).
        from_address:
          type: string
          description: Bare email address parsed from `from_header`.
        to_header:
          type: string
          description: |
            Raw `To:` header as sent on the wire, including any
            display name.
        to_address:
          type: string
          description: Bare email address parsed from `to_header`.
        subject:
          type: string
        body_size_bytes:
          type: integer
          description: |
            Total UTF-8 byte length of `body_text` + `body_html`.
            Surfaced on the list endpoint so callers can see "this
            row has a 4MB body" without fetching it.
        content_discarded_at:
          type: [string, 'null']
          format: date-time
          description: |
            Timestamp at which the bodies were discarded by an
            entitlement-driven retention policy. Null when bodies
            are still present. The detail endpoint returns
            null-valued `body_text`/`body_html` for discarded rows.
        message_id:
          type: [string, 'null']
          description: |
            Wire-level Message-ID assigned to the outbound message
            (RFC 5322). Null on rows that never reached signing
            (queued, gate_denied, agent_failed before signing).
        in_reply_to:
          type: [string, 'null']
          description: |
            Wire-level In-Reply-To header value, when this send
            was a reply.
        email_references:
          type: [string, 'null']
          description: |
            Wire-level References header value, when this send
            was a reply.
        in_reply_to_email_id:
          type: [string, 'null']
          format: uuid
          description: |
            Reference to the inbound `emails.id` that this send
            replied to, when known. Populated when the caller used
            /emails/{id}/reply or when /send-mail's `in_reply_to`
            matched a stored inbound message_id in the same org.
        queue_id:
          type: [string, 'null']
          description: |
            Message identifier assigned by Primitive's outbound
            relay once the agent accepts the message. Null on
            queued, gate_denied, and agent_failed rows.
        smtp_response_code:
          type: [integer, 'null']
          description: |
            Receiver's 3-digit SMTP code (e.g. 250, 550, 451).
            Populated on terminal delivery statuses; may be null
            on a deferred where the agent never got an SMTP-level
            response (TCP refused, DNS failed, TLS handshake
            failed). `smtp_response_text` still carries Postfix's
            descriptive text in those cases.
        smtp_response_text:
          type: [string, 'null']
          description: |
            Free-form text portion of the receiver's SMTP
            response. The most useful debugging signal on a
            `bounced` or `deferred` row.
        smtp_enhanced_status_code:
          type: [string, 'null']
          description: |
            RFC 3463 enhanced status code (e.g. `5.1.1` for "Bad
            destination mailbox address"). Distinct from
            `smtp_response_code`: the basic 3-digit code is coarse
            (550 = "permanent failure"), the enhanced code is
            finer-grained.
        dkim_selector:
          type: [string, 'null']
          description: |
            DKIM selector used to sign the outbound message.
            Public DNS data; useful for diagnosing why a downstream
            verifier rejected the signature.
        dkim_domain:
          type: [string, 'null']
          description: DKIM signing domain.
        error_code:
          type: [string, 'null']
          description: |
            Stable public error code on `agent_failed` rows. The
            agent's internal codes are remapped to a stable public
            taxonomy (see `publicAgentError` in the server) so this
            field is safe to branch on across agent versions.
        error_message:
          type: [string, 'null']
          description: Free-form error message accompanying `error_code`.
        gates:
          type: [array, 'null']
          items:
            $ref: '#/components/schemas/GateDenial'
          description: |
            Gate-denial detail on `gate_denied` rows. Mirrors the
            synchronous /send-mail 403 contract so a caller's
            GateDenial handler is the same across live denies and
            historical lookups. Null on every other status.
        request_id:
          type: [string, 'null']
          description: |
            Server-issued request identifier from the original
            /send-mail call. Surfaced as the `X-Request-Id`
            response header on the live send and recorded here
            for support escalation.
      required:
        - id
        - status
        - status_changed_at
        - created_at
        - updated_at
        - content_hash
        - from_header
        - from_address
        - to_header
        - to_address
        - subject
        - body_size_bytes

    SentEmailDetail:
      description: |
        Full sent-email record, including `body_text` and
        `body_html`. Returned by /sent-emails/{id}.
      allOf:
        - $ref: '#/components/schemas/SentEmailSummary'
        - type: object
          properties:
            body_text:
              type: [string, 'null']
              description: |
                Plain-text body sent on the wire. Null when the
                send carried only an HTML body, or when bodies have
                been discarded post-send (`content_discarded_at`
                set).
            body_html:
              type: [string, 'null']
              description: |
                HTML body sent on the wire. Null when the send
                carried only a plain-text body, or when bodies
                have been discarded post-send.

    ReplyInput:
      type: object
      additionalProperties: false
      description: |
        Body shape for `/emails/{id}/reply`. Intentionally narrow:
        recipients (`to`), subject, and threading headers
        (`in_reply_to`, `references`) are derived server-side from
        the inbound row referenced by the path id and are rejected by
        `additionalProperties` if passed (returns 400).

        `from` IS allowed because of legitimate use cases (display-name
        addition, replying from a different verified outbound address,
        multi-team triage). Send-mail's per-send `canSendFrom` gate
        validates the from-domain regardless, so the override carries
        no extra privilege.
      properties:
        body_text:
          type: string
          description: Plain-text reply body. At least one of body_text or body_html is required. The combined UTF-8 byte length of body_text and body_html must be at most 262144 bytes (same cap as send-mail).
        body_html:
          type: string
          description: HTML reply body. At least one of body_text or body_html is required.
        from:
          type: string
          minLength: 3
          maxLength: 998
          description: |
            Optional override for the reply's From header. Defaults to
            the inbound's recipient. Use to add a display name (`"Acme
            Support" <agent@company.com>`) or to reply from a different
            verified outbound address (e.g. multi-team routing where
            support@ triages to billing@). The from-domain must be a
            verified outbound domain for your org, same as send-mail.
        wait:
          type: boolean
          description: When true, wait for the first downstream SMTP delivery outcome before returning, mirroring the send-mail `wait` semantics.

    SendMailResult:
      type: object
      properties:
        id:
          type: string
          description: Persisted sent-email attempt ID.
        status:
          $ref: '#/components/schemas/SentEmailStatus'
        from:
          type: string
          description: |
            Bare from-address actually written on the wire. Echoed
            on every success branch so callers can confirm what
            went out, particularly useful for the /emails/{id}/reply
            path where `from` is server-derived from the inbound's
            recipient when the caller doesn't override.

            For sends where the caller passed a from-header that
            included a display name (e.g. `"Acme Support" <support@acme.test>`),
            this field is the parsed bare address (`support@acme.test`).
            The display name was sent on the wire intact; this field
            just makes the address easy to compare against allowlists.
        queue_id:
          type: [string, 'null']
          description: |
            Message identifier assigned by Primitive's OUTBOUND relay
            (the box that signs your mail and submits it to the
            receiving MTA). NOT the receiver's queue id.

            The receiver may also report its own queue id in
            `smtp_response_text` (e.g. `"250 2.0.0 Ok: queued as
            99D111927CDA"` from a Postfix receiver). Those two ids
            refer to different mail systems and are NOT comparable.
            Treat `queue_id` as Primitive-internal and the
            receiver's id as remote-system-internal.

            Null on rows that never reached the relay (queued,
            gate_denied, agent_failed before signing).
        accepted:
          type: array
          items:
            type: string
          description: Recipient addresses accepted by the relay.
        rejected:
          type: array
          items:
            type: string
          description: Recipient addresses rejected by the relay.
        client_idempotency_key:
          type: string
          description: Effective idempotency key used for this send.
        request_id:
          type: string
          description: Server-issued request identifier for support and tracing.
        content_hash:
          type: string
          description: Stable hash of the canonical send payload.
        delivery_status:
          $ref: '#/components/schemas/DeliveryStatus'
        smtp_response_code:
          type: [integer, 'null']
          description: SMTP response code from the first downstream delivery outcome when wait is true.
        smtp_response_text:
          type: string
          description: SMTP response text from the first downstream delivery outcome when wait is true.
        idempotent_replay:
          type: boolean
          description: |
            True when the response replays a previously-recorded send
            keyed by `client_idempotency_key` (same key, same canonical
            payload). False on a fresh send and on gate-denied
            responses. Lets callers branch on cache state without
            diffing fields.
      required: [id, status, from, queue_id, accepted, rejected, client_idempotency_key, request_id, content_hash, idempotent_replay]

    # -------------------------------------------------------------------------
    # Send Permissions
    # -------------------------------------------------------------------------
    SendPermissionRule:
      description: |
        One recipient-scope rule describing a destination the caller
        may send to. Discriminated on `type`. Each rule carries a
        human-prose `description` field intended for display.

        Rule kinds are stable within an SDK release. A response
        containing a `type` value not enumerated in this schema
        means the server is running a newer version than the SDK;
        upgrade the SDK to the release that matches the server's
        schema. Strict-parsing SDKs (Go, Python) will raise a
        decode error in that case rather than silently dropping
        the unknown rule, since silent drops would let an outbound
        agent reason from an incomplete view of its own permissions.
      # Explicit discriminator + mapping. Without these, conformant
      # validators must speculatively try every oneOf arm against
      # each object, which is O(arms) per rule and surfaces poor
      # error messages on the wrong-type case. The mapping bridges
      # the wire-format value (`"any_recipient"`) to the schema
      # name (`SendPermissionAnyRecipient`) since they don't match
      # by stringly-typed default rule.
      discriminator:
        propertyName: type
        mapping:
          any_recipient: '#/components/schemas/SendPermissionAnyRecipient'
          managed_zone: '#/components/schemas/SendPermissionManagedZone'
          your_domain: '#/components/schemas/SendPermissionYourDomain'
          address: '#/components/schemas/SendPermissionAddress'
      oneOf:
        - $ref: '#/components/schemas/SendPermissionAnyRecipient'
        - $ref: '#/components/schemas/SendPermissionManagedZone'
        - $ref: '#/components/schemas/SendPermissionYourDomain'
        - $ref: '#/components/schemas/SendPermissionAddress'

    SendPermissionAnyRecipient:
      type: object
      description: |
        The caller can send to any recipient. When this rule is
        present, every other rule in the response is redundant.
      properties:
        type:
          type: string
          # Single-value enum (not `const`) so the codegen surfaces
          # the literal `'any_recipient'` in generated types,
          # enabling TypeScript discriminated-union narrowing on
          # `rule.type`.
          enum: [any_recipient]
        description:
          type: string
          description: Human-prose summary of the rule.
      required: [type, description]

    SendPermissionManagedZone:
      type: object
      description: |
        The caller can send to any address at the named
        Primitive-managed zone. Always emitted (no entitlement
        required) because Primitive owns the zone and every mailbox
        belongs to a Primitive customer by construction.
      properties:
        type:
          type: string
          enum: [managed_zone]
        zone:
          type: string
          description: |
            The managed apex domain. Sends are accepted to any
            address at the apex itself or any subdomain (e.g.
            `alice@primitive.email` and `alice@acme.primitive.email`
            both match the `primitive.email` zone rule).
        description:
          type: string
          description: Human-prose summary of the rule.
      required: [type, zone, description]

    SendPermissionYourDomain:
      type: object
      description: |
        The caller can send to any address at one of their own
        verified outbound domains. Emitted once per active row in
        the org's `domains` table.
      properties:
        type:
          type: string
          enum: [your_domain]
        domain:
          type: string
          description: A verified outbound domain owned by the caller's org.
        description:
          type: string
          description: Human-prose summary of the rule.
      required: [type, domain, description]

    SendPermissionAddress:
      type: object
      description: |
        The caller can send to a specific address that has
        authenticated inbound mail to the org. Emitted once per row
        in the org's `known_send_addresses` table, capped at
        `meta.address_cap`.
      properties:
        type:
          type: string
          enum: [address]
        address:
          type: string
          description: The bare email address this rule grants sends to.
        last_received_at:
          type: string
          format: date-time
          description: |
            Most recent inbound email from this address that
            authenticated successfully (DMARC pass + DKIM/SPF
            alignment). Updated on each new authenticated receipt.
        received_count:
          type: integer
          description: |
            Total number of authenticated inbound emails from this
            address. Increments only when `last_received_at` advances.
        description:
          type: string
          description: Human-prose summary of the rule.
      required: [type, address, last_received_at, received_count, description]

    SendPermissionsMeta:
      type: object
      description: |
[...]
